/* JetPack Sharing Buttons; improves styling with this theme */
div.sharedaddy div.sd-block {
	padding-top: 40px !important;
}

div.sharedaddy h3, #content div.sharedaddy h3, #main div.sharedaddy h3, #primary div.sharedaddy h3 {
	font-family: Georgia, "Times New Roman", Times, serif !important;
	font-family: -webkit-body !important;
	font-weight: normal !important;
	font-size: 16px !important;
	margin-top: 0 !important;
}

div.sharedaddy div.sd-block {
	border-top: none !important;
}

.single .entry-meta,
.page .entry-meta {
	margin-top: 0;
}
/*
     FILE ARCHIVED ON 07:38:56 Mar 14, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:48:53 Jul 12, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 284.274 (3)
  esindex: 0.01
  captures_list: 298.141
  CDXLines.iter: 9.907 (3)
  PetaboxLoader3.datanode: 175.371 (5)
  exclusion.robots: 0.217
  exclusion.robots.policy: 0.2
  RedisCDXSource: 0.537
  PetaboxLoader3.resolve: 978.236 (2)
  load_resource: 1139.388
*/