/**
 * When the JetPack Sharing Buttons "Sharing label" is blank, this floats the sharing
 * buttons right instead of left and removes right padding to improve display.
 */
div.sharedaddy .sd-content {
	float: right !important;
	width: auto !important;
}
/*
     FILE ARCHIVED ON 06:08:47 Mar 14, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:48:56 Jul 12, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 75.45 (3)
  esindex: 0.011
  captures_list: 103.786
  CDXLines.iter: 17.534 (3)
  PetaboxLoader3.datanode: 266.728 (5)
  exclusion.robots: 0.255
  exclusion.robots.policy: 0.231
  RedisCDXSource: 6.534
  PetaboxLoader3.resolve: 1511.35 (2)
  load_resource: 1739.14
*/