.grofile .ims_aim { background-position: 0px -288px; }
.grofile .accounts_bebo { background-position: 0px -80px; }
.grofile .accounts_blogger { background-position: 0px -336px; }
.grofile .accounts_buzz { background-position: 0px -416px; }
.grofile .phoneNumbers_mobile { background-position: 0px -576px; }
.grofile .accounts_delicious { background-position: 0px -240px; }
.grofile .accounts_digg { background-position: 0px -144px; }
.grofile .accounts_dopplr { background-position: 0px -32px; }
.grofile .emails_primary { background-position: 0px -112px; }
.grofile .accounts_evernote { background-position: 0px -544px; }
.grofile .accounts_facebook { background-position: 0px -0px; }
.grofile .accounts_flickr { background-position: 0px -400px; }
.grofile .accounts_friendfeed { background-position: 0px -224px; }
.grofile .accounts_foursquare { background-position: 0px -704px; }
.grofile .accounts_google { background-position: 0px -752px; }
.grofile .ims_gtalk { background-position: 0px -640px; }
.grofile .phoneNumbers_home { background-position: 0px -688px; }
.grofile .ims_icq { background-position: 0px -592px; }
.grofile .accounts_ilike { background-position: 0px -64px; }
.grofile .ims_jabber, .grofile .ims_xmpp { background-position: 0px -656px; }
.grofile .accounts_lastfm { background-position: 0px -496px; }
.grofile .accounts_linkedin { background-position: 0px -368px; }
.grofile .accounts_mixx { background-position: 0px -528px; }
.grofile .accounts_mobileme { background-position: 0px -320px; }
.grofile .accounts_myspace { background-position: 0px -352px; }
.grofile .accounts_netvibes { background-position: 0px -272px; }
.grofile .accounts_newsvine { background-position: 0px -96px; }
.grofile .accounts_openid { background-position: 0px -128px; }
.grofile .accounts_picasa { background-position: 0px -256px; }
.grofile .accounts_posterous { background-position: 0px -560px; }
.grofile .accounts_qik { background-position: 0px -672px; }
.grofile .accounts_reddit { background-position: 0px -176px; }
.grofile .accounts_rss { background-position: 0px -480px; }
.grofile .ims_skype { background-position: 0px -16px; }
.grofile .accounts_stumbleupon { background-position: 0px -192px; }
.grofile .accounts_technorati { background-position: 0px -432px; }
.grofile .accounts_tripit { background-position: 0px -720px; }
.grofile .accounts_tumblr { background-position: 0px -448px; }
.grofile .accounts_twitter { background-position: 0px -464px; }
.grofile .accounts_vimeo { background-position: 0px -384px; }
.grofile .accounts_wordpress { background-position: 0px -304px; }
.grofile .phoneNumbers_work { background-position: 0px -688px; }
.grofile .accounts_yahoo { background-position: 0px -160px; }
.grofile .accounts_yelp { background-position: 0px -512px; }
.grofile .ims_yahoo { background-position: 0px -608px; }
.grofile .accounts_youtube { background-position: 0px -208px; }
.grofile .accounts_gowalla { background-position: 0px -736px; }
.grofile .accounts_goodreads { background-position: 0px -768px; }

/*
     FILE ARCHIVED ON 06:41:57 Mar 14, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:49:20 Jul 12, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 105.823 (3)
  esindex: 0.011
  captures_list: 138.988
  CDXLines.iter: 14.108 (3)
  PetaboxLoader3.datanode: 200.358 (5)
  exclusion.robots: 0.28
  exclusion.robots.policy: 0.26
  RedisCDXSource: 0.863
  PetaboxLoader3.resolve: 1593.911 (2)
  load_resource: 1719.031
*/