/*-----------------------------------------------------------------------------------*/
/*	Column Styles
/*-----------------------------------------------------------------------------------*/

@media only screen and (min-width:756px) {

	.hypha-one-half { width: 48%; }
	.hypha-one-third { width: 30.66%; }
	.hypha-two-third { width: 65.33%; }
	.hypha-one-fourth { width: 22%; }
	.hypha-three-fourth { width: 74%; }
	.hypha-one-fifth { width: 16.8%; }
	.hypha-two-fifth { width: 37.6%; }
	.hypha-three-fifth { width: 58.4%; }
	.hypha-four-fifth { width: 79.2%; }
	.hypha-one-sixth { width: 13.33%; }
	.hypha-five-sixth { width: 82.67%; }

	.hypha-one-half,
	.hypha-one-third,
	.hypha-two-third,
	.hypha-three-fourth,
	.hypha-one-fourth,
	.hypha-one-fifth,
	.hypha-two-fifth,
	.hypha-three-fifth,
	.hypha-four-fifth,
	.hypha-one-sixth,
	.hypha-five-sixth {
		position: relative;
		margin-right: 4%;
		float: left;
	}

	.hypha-column-last {
		margin-right: 0!important;
		clear: right;
	}

}

.hypha-one-half,
.hypha-one-third, 
.hypha-two-third,
.hypha-one-fourth,
.hypha-three-fourth,
.hypha-one-fifth,
.hypha-two-fifth,
.hypha-three-fifth,
.hypha-four-fifth,
.hypha-one-sixth,
.hypha-five-sixth {
	position: relative;
	margin-bottom: 2em;
}

/*-----------------------------------------------------------------------------------*/
/*	Button Styles
/*-----------------------------------------------------------------------------------*/

a.hypha-button,
a.hypha-button:visited {
	display: inline-block;
	color: #fff!important;
	text-decoration: none!important;
	text-align: center;
	font-family: Helvetica, Arial, Sans-serif;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
	font-size: 14px;
	outline: none;
	font-weight: bold;
	line-height: 1em;
	padding: 7px 13px!important;
	cursor: pointer;
	border-radius: 16px;
		-webkit-border-radius: 16px;
		-moz-border-radius: 16px;
		-o-border-radius: 16px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 0 rgba(255,255,255,0.4);
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 0 rgba(255,255,255,0.4);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 0 rgba(255,255,255,0.4);
		-o-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 0 rgba(255,255,255,0.4);
	border: 1px solid #0d507a!important;
	margin: 0 0.1em 1.5em 0!important;
	vertical-align: middle;
	background: #0c6fb1;
		background: -webkit-gradient(linear, left top, left bottom, from(#14a7cf), to(#0c6fb1));
		background: -webkit-linear-gradient(top, #14a7cf, #0c6fb1);
		background: -moz-linear-gradient(top, #14a7cf, #0c6fb1);
		background: -ms-linear-gradient(top, #14a7cf, #0c6fb1);
		background: -o-linear-gradient(top, #14a7cf, #0c6fb1);
}
	
a.hypha-button.square {
	border-radius: 4px!important;
		-webkit-border-radius: 4px!important;
		-moz-border-radius: 4px!important;
		-o-border-radius: 4px!important;
}
	
a.hypha-button.medium {
	padding: 11px 16px!important;
	font-size: 16px;
	border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-o-border-radius: 20px;
}

a.hypha-button.large {
	padding: 15px 20px!important;
	font-size: 18px;
	border-radius: 20px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		-o-border-radius: 25px;
}

a.hypha-button:hover {
	text-decoration: none;
}
	
a.hypha-button:active {
	position: relative;
	top: 1px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.9);
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
		-o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
}
	
a.hypha-button.green {
	border-color: #69963b!important;
	background: #7fc33c;
		background: -webkit-gradient(linear, left top, left bottom, from(#b1d960), to(#7fc33c));
		background: -webkit-linear-gradient(top, #b1d960, #7fc33c);
		background: -moz-linear-gradient(top, #b1d960, #7fc33c);
		background: -ms-linear-gradient(top, #b1d960, #7fc33c);
		background: -o-linear-gradient(top, #b1d960, #7fc33c);
}
	
a.hypha-button.green:hover {
	background: #8dd242;
		background: -webkit-gradient(linear, left top, left bottom, from(#b9e46a), to(#8dd242));
		background: -webkit-linear-gradient(top, #b9e46a, #8dd242);
		background: -moz-linear-gradient(top, #b9e46a, #8dd242);
		background: -ms-linear-gradient(top, #b9e46a, #8dd242);
		background: -o-linear-gradient(top, #b9e46a, #8dd242);
}
	
a.hypha-button.light-blue {
	border-color: #2681a2!important;
	background: #2caada;
		background: -webkit-gradient(linear, left top, left bottom, from(#46cae8), to(#2caada));
		background: -webkit-linear-gradient(top, #46cae8, #2caada);
		background: -moz-linear-gradient(top, #46cae8, #2caada);
		background: -ms-linear-gradient(top, #46cae8, #2caada);
		background: -o-linear-gradient(top, #46cae8, #2caada);
}

a.hypha-button.light-blue:hover {
	background: #32bcef;
		background: -webkit-gradient(linear, left top, left bottom, from(#50d6f5), to(#32bcef));
		background: -webkit-linear-gradient(top, #50d6f5, #32bcef);
		background: -moz-linear-gradient(top, #50d6f5, #32bcef);
		background: -ms-linear-gradient(top, #50d6f5, #32bcef);
		background: -o-linear-gradient(top, #50d6f5, #32bcef);
}

a.hypha-button.blue {
	border-color: #0d507a!important;
	background: #0c6fb1;
		background: -webkit-gradient(linear, left top, left bottom, from(#14a7cf), to(#0c6fb1));
		background: -webkit-linear-gradient(top, #14a7cf, #0c6fb1);
		background: -moz-linear-gradient(top, #14a7cf, #0c6fb1);
		background: -ms-linear-gradient(top, #14a7cf, #0c6fb1);
		background: -o-linear-gradient(top, #14a7cf, #0c6fb1);
}
	
a.hypha-button.blue:hover {
	background: #1188d6;
		background: -webkit-gradient(linear, left top, left bottom, from(#1bb6e6), to(#1188d6));
		background: -webkit-linear-gradient(top, #1bb6e6, #1188d6);
		background: -moz-linear-gradient(top, #1bb6e6, #1188d6);
		background: -ms-linear-gradient(top, #1bb6e6, #1188d6);
		background: -o-linear-gradient(top, #1bb6e6, #1188d6);
}

a.hypha-button.red {
	border-color: #ab4b44!important;
	background: #e3514a;
		background: -webkit-gradient(linear, left top, left bottom, from(#ed8376), to(#e3514a));
		background: -webkit-linear-gradient(top, #ed8376, #e3514a);
		background: -moz-linear-gradient(top, #ed8376, #e3514a);
		background: -ms-linear-gradient(top, #ed8376, #e3514a);
		background: -o-linear-gradient(top, #ed8376, #e3514a);
}
	
a.hypha-button.red:hover {
	background: #ff5e56;
		background: -webkit-gradient(linear, left top, left bottom, from(#ff988c), to(#ff5e56));
		background: -webkit-linear-gradient(top, #ff988c, #ff5e56);
		background: -moz-linear-gradient(top, #ff988c, #ff5e56);
		background: -ms-linear-gradient(top, #ff988c, #ff5e56);
		background: -o-linear-gradient(top, #ff988c, #ff5e56);
}
	
a.hypha-button.orange {
   border-color: #dc9014!important;
   background: #ffb031;
		background: -webkit-gradient(linear, left top, left bottom, from(#ffce4f), to(#ffb031));
		background: -webkit-linear-gradient(top, #ffce4f, #ffb031);
		background: -moz-linear-gradient(top, #ffce4f, #ffb031);
		background: -ms-linear-gradient(top, #ffce4f, #ffb031);
		background: -o-linear-gradient(top, #ffce4f, #ffb031);
}
	
a.hypha-button.orange:hover {
   background: #ffc531;
		background: -webkit-gradient(linear, left top, left bottom, from(#ffdb4f), to(#ffc531));
		background: -webkit-linear-gradient(top, #ffdb4f, #ffc531);
		background: -moz-linear-gradient(top, #ffdb4f, #ffc531);
		background: -ms-linear-gradient(top, #ffdb4f, #ffc531);
		background: -o-linear-gradient(top, #ffdb4f, #ffc531);
}

a.hypha-button.purple {
   border-color: #996192!important;
   background: #d17ac6;
		background: -webkit-gradient(linear, left top, left bottom, from(#e3acdc), to(#d17ac6));
		background: -webkit-linear-gradient(top, #e3acdc, #d17ac6);
		background: -moz-linear-gradient(top, #e3acdc, #d17ac6);
		background: -ms-linear-gradient(top, #e3acdc, #d17ac6);
		background: -o-linear-gradient(top, #e3acdc, #d17ac6);
}
	
a.hypha-button.purple:hover {
   background: #eb90e0;
		background: -webkit-gradient(linear, left top, left bottom, from(#f3baec), to(#eb90e0));
		background: -webkit-linear-gradient(top, #f3baec, #eb90e0);
		background: -moz-linear-gradient(top, #f3baec, #eb90e0);
		background: -ms-linear-gradient(top, #f3baec, #eb90e0);
		background: -o-linear-gradient(top, #f3baec, #eb90e0);
}
	
a.hypha-button.grey {
	color: #555!important;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-color: #acacac!important;
	background: #e5e5e5;
		background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#e5e5e5));
		background: -webkit-linear-gradient(top, #efefef, #e5e5e5);
		background: -moz-linear-gradient(top, #efefef, #e5e5e5);
		background: -ms-linear-gradient(top, #efefef, #e5e5e5);
		background: -o-linear-gradient(top, #efefef, #e5e5e5);
}
	
a.hypha-button.grey:hover {
	background: #f6f6f6;
		background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f6f6f6));
		background: -webkit-linear-gradient(top, #fcfcfc, #f6f6f6);
		background: -moz-linear-gradient(top, #fcfcfc, #f6f6f6);
		background: -ms-linear-gradient(top, #fcfcfc, #f6f6f6);
		background: -o-linear-gradient(top, #fcfcfc, #f6f6f6);
}
	
a.hypha-button.black {
	border-color: #323232!important;
	background: #444444;
		background: -webkit-gradient(linear, left top, left bottom, from(#6c6c6c), to(#444444));
		background: -webkit-linear-gradient(top, #6c6c6c, #444444);
		background: -moz-linear-gradient(top, #6c6c6c, #444444);
		background: -ms-linear-gradient(top, #6c6c6c, #444444);
		background: -o-linear-gradient(top, #6c6c6c, #444444);
}
	
a.hypha-button.black:hover {
	background: #575757;
		background: -webkit-gradient(linear, left top, left bottom, from(#8d8d8d), to(#575757));
		background: -webkit-linear-gradient(top, #8d8d8d, #575757);
		background: -moz-linear-gradient(top, #8d8d8d, #575757);
		background: -ms-linear-gradient(top, #8d8d8d, #575757);
		background: -o-linear-gradient(top, #8d8d8d, #575757);
}

/*-----------------------------------------------------------------------------------*/
/*	Alert Styles
/*-----------------------------------------------------------------------------------*/

.hypha-alert {
    padding: 0.8em;
    margin: 0 0 1.5em 0;
    line-height: 1.6em;
    border-radius: 4px!important;
		-webkit-border-radius: 4px!important;
		-moz-border-radius: 4px!important;
		-o-border-radius: 4px!important;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6);
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6);
		-o-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6);
}

.hypha-alert.white {
    background: #fff;
    border: 1px solid #dfdfdf;
    color: #373737;
}

.hypha-alert.red {
    background: #ffe6e3;
    border: 1px solid #f2c3bf;
    color: #bf210e;
}

.hypha-alert.yellow {
    background: #fff7d6;
    border: 1px solid #e9d477;
    color: #956433;
}

.hypha-alert.green {
    background: #edfdd3;
    border: 1px solid #c4dba0;
    color: #657e3c;
}
	
.hypha-alert.grey {
    background: #fbfbfb;
    border: 1px solid #dfdfdf;
    color: #373737;
}

/*-----------------------------------------------------------------------------------*/
/*	Tab Styles
/*-----------------------------------------------------------------------------------*/

.hypha-tabs.ui-tabs .ui-tabs-hide {
    position: absolute;
    left: -10000px;
}

.hypha-tabs {
	background: none;
	margin: 0 0 2em 0;
}

.hypha-tabs .hypha-nav {
	list-style: none!important;
	margin: 0!important;
	padding: 0;
	background: none;
	border: 0;
	float: none;
}

.hypha-tabs .hypha-nav li {
	float: left;
	position: relative;
	margin: 0 2px -1px 0!important;
	z-index: 10;
	list-style: none!important;
}
	

.hypha-tabs .hypha-nav li a {
	border: 1px solid #dfdfdf!important;
	border-bottom: none!important;
	display: block;
	overflow: hidden;
	padding: 5px 25px 0;
	height: 26px;
	background: #FBFBFB;
	margin: 0!important;
	text-decoration: none;
	color: #373737!important;
	-webkit-border-radius: 3px 3px 0 0;
	   -moz-border-radius: 3px 3px 0 0;
	   		border-radius: 3px 3px 0 0;
}
	
.hypha-tabs .hypha-nav li a:hover {
	background: #fff!important;
	margin: 0!important;
}

.hypha-tabs .hypha-nav .ui-tabs-selected a,
.hypha-tabs .hypha-nav .ui-tabs-active a {
	height: 27px;
	background: #fff;
}

.hypha-tabs .hypha-tab {
	background: #fff;
	padding: 25px;
	border: 1px solid #dfdfdf;
}

/*-----------------------------------------------------------------------------------*/
/*	Toggle Styles
/*-----------------------------------------------------------------------------------*/

.hypha-toggle { margin: 0 0 2em 0; }

.hypha-toggle .hypha-toggle-title {
	display: block;
	padding: 10px 10px 10px 30px; 
	background: #FBFBFB;
	border: 1px solid #dfdfdf;
	cursor: pointer;
	outline: none;
	position: relative;
}
	
.hypha-toggle .hypha-toggle-title:hover { border: 1px solid #c5c5c5; }

.hypha-toggle-inner {
	padding: 25px;
	background: #fff;
	border: 1px solid #dfdfdf;
	border-top: none;
}

.hypha-toggle span.ui-icon {
    background: url(/web/20160318153532im_/http://www.acuriousmix.com/wp-content/plugins/hypha-shortcodes/images/toggles/toggle-closed.png) no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 10px;
    margin: -6px 0 0 0;
}

.hypha-toggle .ui-state-active .ui-icon { background: url(/web/20160318153532im_/http://www.acuriousmix.com/wp-content/plugins/hypha-shortcodes/images/toggles/toggle-open.png) no-repeat; }

/* Clearfix */
.hypha-clearfix:before,
.hypha-clearfix:after { content:""; display:table; }
.hypha-clearfix:after { clear: both; }
.hypha-clearfix { zoom:1; /* For IE 6/7 (trigger hasLayout) */ }

/*-----------------------------------------------------------------------------------*/
/*	Divider Styles
/*-----------------------------------------------------------------------------------*/

.hypha-divider {
	border: 0;
	border-bottom: 1px solid #bbb;
	margin-bottom: 28px;
}

.hypha-divider.dotted {
	height: 7px;
	background: url(/web/20160318153532im_/http://www.acuriousmix.com/wp-content/plugins/hypha-shortcodes/images/divider/pageline.png) repeat-x center bottom;
	border-bottom: 0;
}

/*-----------------------------------------------------------------------------------*/
/*	Audio Styles
/*-----------------------------------------------------------------------------------*/

.hypha-audio-container {
	margin-bottom: 28px;
	line-height: 0;
}

.hypha-audio-container audio { 
	width: 100%; 
}

/*-----------------------------------------------------------------------------------*/
/*	Video Styles
/*-----------------------------------------------------------------------------------*/

.hypha-video-container {
	margin-bottom: 28px;
	line-height: 0;
}

.hypha-video-container video {
	width: 100%;
	height: auto;
	min-height: 30px;
}

/*-----------------------------------------------------------------------------------*/
/*	Multimedia Styles
/*-----------------------------------------------------------------------------------*/

.multimedia-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	margin-bottom: 28px;
}

.multimedia-container iframe,  
.multimedia-container object,  
.multimedia-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*
     FILE ARCHIVED ON 15:35:32 Mar 18, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:26:24 Jul 12, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 410.792 (3)
  esindex: 0.01
  captures_list: 530.587
  CDXLines.iter: 17.838 (3)
  PetaboxLoader3.datanode: 295.286 (4)
  exclusion.robots: 0.303
  exclusion.robots.policy: 0.283
  RedisCDXSource: 97.499
  PetaboxLoader3.resolve: 278.966 (2)
  load_resource: 241.464
*/