/*
Theme Name: Independent Publisher
Theme URI: http://independentpublisher.me/
Author: Raam Dev
Author URI: http://raamdev.com
Description: Independent Publisher is a beautiful reader-focused WordPress theme, for you. Clean, responsive, and mobile-ready, it gets out of your way and lets you share what you create. Full support for all Post Formats, HTML5-ready, and includes Schema.org markup. This theme is ideal for both single-author and multi-author blogs.
Version: 1.6
License: GNU GPLv3
License URI: http://www.gnu.org/copyleft/gpl.html
Independent Publisher, Copyright 2014 Raam Dev
Independent Publisher is distributed under the terms of the GNU GPL
Tags: light, white, green, one-column, two-columns, left-sidebar, fluid-layout, featured-images, full-width-template, custom-menu, responsive-layout, custom-background, custom-colors, custom-menu, editor-style, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready, theme-options

Genericons icon font (http://genericons.com/) is bundled for use with the Social Menu feature.
Genericons is distributed under the terms of the GNU GPL.

NProgress (https://github.com/rstacruz/nprogress) is bundled for use in the progress bar feature.
NProgress (c) 2013, Rico Sta. Cruz. Released under the MIT License.

Based on _s http://underscores.me
and inspired by the Publish theme by Konstantin Kovshenin http://kovshenin.com/themes/publish

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/

Props to Manish Suwal 'Enwil' (http://enwil.com) and Radhika Morabia (http://rmorabia.com) for
help with testing and contributing to the project during its early stages.

Thanks also to @tlongren, @pcutler, @descubraomundo, @manishsuwal, @bitzl, and @peterk for their contributions on GitHub.

Thanks to the following contributors for providing translation files:
- French (contributed by Eddy Lelièvre-Berna; https://github.com/EddyLB)
- Russian (contributed by Артем Рябков; https://github.com/rad96)
- Spanish (contributed by Guillermo Dolores; https://github.com/mkiramu)
- German (contributed by J. Hillert; https://github.com/JHillert)
- Czech (contributed by Tajdik; https://github.com/Tajdik)
*/

/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
}

html {
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

body {
	background: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}

ol, ul {
	list-style: none;
}

table {
	border-spacing: 0; /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	/* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}

a img {
	border: 0;
}

/* =Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
	color: #000000;
	font-size: 16px;
	font-size: 1.6rem;
	font-family: serif;
	line-height: 1.5;
}

select {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px !important; /* webkit annoyingly only lets <select> elements have a font-size of either 9px, 11px or 13px; forcing this to 13px maintains consistency */
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	clear: both;
}

hr {
	margin-bottom: 1.5em;
	height: 1px;
	border: 0;
	background-color: #ccc;
}

/* Text elements */
p {
	margin-bottom: 1em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ol, li > ul {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0.5em 1.5em 1.5em;
}

b, strong {
	font-weight: bold;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin-left: 1em;
	font-style: italic;
	font-family: Georgia, "Bitstream Charter", serif;
	border-left: 3px solid;
	border-color: #57ad68;
	padding-left: 20px;
}

blockquote cite {
	font-size: 70%;
}

blockquote h1, blockquote h2, blockquote h3, blockquote h4 {
	font-weight: normal;
	font-family: Georgia, "Bitstream Charter", serif;
}

address {
	margin: 0 0 1.5em;
}

pre {
	overflow: auto;
	margin-bottom: 1.6em;
	padding: 1.6em;
	max-width: 100%;
	background: #F5F5F5;
	font: 12px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	line-height: 1.6;
}

code, kbd, tt, var {
	font: 14px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	background: #eee;
	padding: 2px 5px 2px 5px;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	position: relative;
	height: 0;
	vertical-align: baseline;
	font-size: 75%;
	line-height: 0;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

figure {
	margin: 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
	font-size: 90%;
}

th {
	font-weight: bold;
}

button,
input,
select,
textarea {
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: middle; /* Improves appearance and consistency in all browsers */
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

button,
input {
	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
	*overflow: visible; /* Corrects inner spacing displayed oddly in IE6/7 */
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	line-height: 1.45;
	height: 36px;
	padding-left: 15px;
	padding-right: 15px;
	border: 0;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #57ad68; /* Old browsers */
	background: -moz-linear-gradient(top, #57ad68 60%, #57ad68 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #57ad68), color-stop(100%, #57ad68)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #57ad68 60%, #57ad68 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #57ad68 60%, #57ad68 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #57ad68 60%, #57ad68 100%); /* IE10+ */
	background: linear-gradient(top, #57ad68 60%, #57ad68 100%); /* W3C */
	color: #ffffff;
	font-size: 15px;
	font-size: 1.5rem;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57ad68', endColorstr='#57ad68', GradientType=0); /* IE6-9 */
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	-webkit-font-smoothing: antialiased;
}

button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	color: #ffffff;
	border-color: #bbb #bbb #aaa #bbb;
	background: #65B675; /* Old browsers */
	background: -moz-linear-gradient(top, #65B675 60%, #65B675 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #65B675), color-stop(100%, #65B675)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #65B675 60%, #65B675 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #65B675 60%, #65B675 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #65B675 60%, #65B675 100%); /* IE10+ */
	background: linear-gradient(top, #65B675 60%, #65B675 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#65B675', endColorstr='#65B675', GradientType=0); /* IE6-9 */
}

button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .15);
	box-shadow: inset 0 2px 2px rgba(0, 0, 0, .15);
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type="search"]::-webkit-search-decoration {
	/* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0; /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
}

input[type=text],
input[type=password],
input[type=email],
textarea {
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #666;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus {
	color: #111;
}

input[type=text],
input[type=password],
input[type=email] {
	padding: 6px;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	width: 95%;
	vertical-align: top; /* Improves readability and alignment in all browsers */
}

/* Links */
a {
	color: #57ad68;
	text-decoration: none;
}

a:visited {
	color: #57ad68;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #57ad68;
	text-decoration: underline;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	display: block;
	clear: both;
	margin: 0 auto;
}

img.alignleft {
	margin: 5px 20px 10px 0;
}

img.alignright {
	margin: 5px 0 10px 20px;
}

img.aligncenter {
	margin: 5px auto 10px;
}

/* =Menu
----------------------------------------------- */

.main-navigation {
	display: block;
	float: left;
	clear: both;
	width: 100%;
}

.main-navigation ul {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

.main-navigation li {
	position: relative;
}

.main-navigation a {
	text-decoration: none;
	font-size: 15px;
	font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.main-navigation ul ul {
	position: absolute;
	top: 1.5em;
	left: 0;
	z-index: 99999;
	display: none;
	float: left;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.main-navigation ul ul ul {
	top: 0;
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {
}

.main-navigation li:hover > a {
	text-decoration: underline;
}

.main-navigation ul ul :hover > a {
}

.main-navigation ul ul a:hover {
}

.main-navigation ul li:hover > ul {
	display: block;
}

.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a {
}

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* =Content
----------------------------------------------- */

.site,
.entry-content {
	*zoom: 1;
}

.site:before,
.site:after,
.entry-content:before,
.entry-content:after {
	display: table;
	content: "";
	line-height: 0;
}

.site:after,
.entry-content:after {
	clear: both;
}

.site-main article.sticky {
	margin-bottom: 1px;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 20px;
	background: #F5F5F5;
	border: none;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.hentry {
	/* margin: 0 0 1.5em; */
}

.entry-meta {
	clear: both;
}

.byline {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-content,
.entry-summary {
	margin: 0 0 0;
}

.entry-content > .sharedaddy {
	margin: 1.5em 0;
}

.page-links {
	clear: both;
	margin: 0 0 1em;
	text-align: center;
	padding-top: 2em;
}

.page-links-next-prev {
	margin-top: 4em;
	clear: both;
}

.page-links-next-prev .next-page-nav {
	float: right;
}

.page-links-next-prev .previous-page-nav {
	float: left;
}

.entry-content .twitter-tweet-rendered {
	max-width: 100% !important;
}

.single .entry-content {
	padding-bottom: 20px;
	margin-top: 0;
}

.single article.post, .single article.page {
	margin-bottom: 40px;
}

.single .wp-post-image,
.page .wp-post-image,
.blog .wp-post-image,
.archive .wp-post-image {
	width: 100%;
	height: auto;
}

.single .full-width-featured-image {
	top: 0;
	left: 0;
	width: 100%;
}

.single .wp-post-image,
.page .wp-post-image,
.blog .wp-post-image,
.archive .wp-post-image {
	margin-bottom: 20px;
}

.single-attachment .entry-title-meta {
	margin-bottom: 20px;
}

.single-attachment .entry-caption {
	margin-top: 1.2em;
}

.post-excerpts h1.entry-title,
.enhanced-excerpts h1.entry-title {
	font-size: 1.8em;
	margin-bottom: 0;
}

.post-excerpts .sticky h1.entry-title,
.enhanced-excerpts .sticky h1.entry-title {
	font-size: 2.5em;
	margin-bottom: 20px;
}

.post-excerpts .entry-content,
.enhanced-excerpts .entry-content,
.post-excerpts .entry-content a,
.enhanced-excerpts .entry-content a {
	margin-top: 10px;
	text-decoration: none;
}

.enhanced-excerpts .enhanced-excerpt-read-more a {
	text-align: right;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.4em;
	color: #57ad68;
}

.enhanced-excerpt-read-more {
	margin-bottom: 1em;
	font-size: 13px;
	text-align: right;
}

.show-full-content-first-post h1.entry-title,
.show-full-content-first-post-sticky h1.entry-title {
	font-size: 2.5em;
	margin-bottom: 20px;
}

.entry-content .subtitle {
	font-style: italic;
	font-weight: normal;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.3em;
	line-height: 1.2em;
	margin-top: -5px;
	margin-bottom: 1em;
	letter-spacing: 0;
}

/* =Post Formats
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title,
.search .format-aside .entry-title,
.blog .format-status .entry-title,
.archive .format-status .entry-title,
.search .format-status .entry-title,
.blog .format-link .entry-title,
.archive .format-link .entry-title,
.search .format-link .entry-title,
.blog .format-image .entry-title,
.archive .format-image .entry-title,
.search .format-image .entry-title,
.blog .format-quote .entry-title,
.archive .format-quote .entry-title,
.search .format-quote .entry-title {
	display: none;
}

.format-aside .entry-format,
.format-quote .entry-format,
.format-chat .entry-format,
.format-status .entry-format,
.format-image .entry-format,
.format-link .entry-format,
.format-gallery .entry-format {
	color: #b3b3b1;
	font-weight: 300;
}

.format-aside {
	font-style: italic;
}

.format-aside,
.format-quote {
	font-size: 1.3em;
	line-height: 1.4;
}

.format-aside .entry-content,
.format-quote .entry-content {
	margin-top: 1em;
}

.format-aside .entry-title-meta {
	margin-bottom: 20px;
}

.format-aside .entry-content a,
.format-aside .entry-content a:hover,
.format-quote .entry-content a,
.format-quote .entry-content a:hover {
	color: inherit;
	text-decoration: none;
}

.single-format-aside .entry-title,
.single-format-quote .entry-title {
	display: none;
}

.format-standard .entry-title {
	width: 90%;
}

.format-chat .entry-content {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	background: #eee;
	padding: 20px 20px 10px 20px;
	margin-bottom: 2em;
	font-size: 12px;
	line-height: 1.6;
}

/* =Media
----------------------------------------------- */

.site-header img,
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}

.site-header img,
.entry-content img,
.widget img,
img[class*="align"],
img[class*="wp-image-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

.site-header img,
.entry-content img,
img.size-full {
	max-width: 100%;
	width: auto\9; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}

.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	border: none;
}

.wp-caption {
	max-width: 100%;
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
}

.wp-caption.aligncenter,
.wp-caption.alignleft,
.wp-caption.alignright {
	margin-bottom: 1.5em;
}

.wp-caption img {
	display: block;
	margin: 5px auto 0;
	max-width: 98%;
}

.wp-caption-text {
	text-align: center;
	font-size: 80%;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/**
 * Gallery
 * -----------------------------------------------------------------------------
 */

.gallery:before, .gallery:after {
	content: "";
	display: table;
}

.gallery:after {
	clear: both;
}

.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	float: left;
	margin: 0 4px 4px 0;
	overflow: hidden;
	position: relative;
	line-height: 10px;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 48%;
	max-width: -webkit-calc(50% - 4px);
	max-width:         calc(50% - 4px);
}

.gallery-columns-3 .gallery-item {
	max-width: 32%;
	max-width: -webkit-calc(33.3% - 4px);
	max-width:         calc(33.3% - 4px);
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width:         calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width:         calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width:         calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width:         calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width:         calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width:         calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
	clear: left;
}

.gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	color: #fff;
	font-size: 12px;
	line-height: 1.2;
	margin: 0;
	max-height: 50%;
	opacity: 0;
	padding: 6px 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	width: 100%;
	font-style: italic;
}

.gallery-caption:before {
	content: "";
	height: 100%;
	min-height: 49px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

/* =Navigation
----------------------------------------------- */

.site-content .site-navigation {
	overflow: hidden;
	/* margin: 0 0 1.5em; */
}

.site-content .nav-previous,
.site-navigation .previous-image {
	float: left;
}

.site-content .nav-next,
.site-navigation .next-image {
	float: right;
	text-align: right;
}

.single .site-navigation {
	margin-top: 40px;
}

#nav-below {
	margin-top: 3em;
}

#nav-above {
	padding-bottom: 1em;
	padding-top: 1em;
	margin-top: 0;
	border-bottom: none;
}

#image-navigation {
	margin-bottom: 20px;
}

/* =Comments
----------------------------------------------- */

.bypostauthor > .comment-body .fn:before {
	content: "\f408";
	vertical-align: text-top;
}

#comments {
	margin-bottom: 100px;
}

.comments-title {
	text-align: center;
	color: rgb(213, 213, 213);
	text-transform: uppercase;
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 1px;
}

.comment-content.unapproved {
	color: #b3b3b1;
}

.site-main .commentlist article {
	padding-bottom: 1em;
	padding-top: 1em;
	border-bottom: none;
	margin-bottom: 1em;
}

.commentlist #respond {
	border-left: 1px solid #F0F0F0;
	padding-left: 20px;
}

#comments-template div.navigation {
	height: 50px;
}

#comment-nav-below {
	margin-bottom: 50px;
}

ol.commentlist {
	margin-left: 0px;
	font-size: 90%;
}

ol.commentlist,
ol.commentlist ul.children {
	list-style: none;
}

ol.commentlist {
	margin-bottom: 100px;
}

ul.children {
	margin-left: 15px;
}

.commentlist .thread-even, .commentlist .thread-odd {
	padding-left: 20px;
	margin-bottom: 30px;
	margin-top: 3.5em;
	border-left: 1px solid #F0F0F0;
	border-top: 1px solid #F0F0F0;
}

.commentlist .children .odd,
.commentlist .children .even {
	border-left: none;
}

.commentlist ul.children {
	margin-left: 0;
	padding-left: 20px;
}

.commentlist .thread-even ul.children,
.commentlist .thread-odd ul.children {
	border-left: 1px solid #F0F0F0;
	border-top: 1px solid #F0F0F0;
}

ol.commentlist .avatar {
	float: left;
	margin-right: 15px;
	margin-left: 0px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	margin-top: 5px;
}

.avatar {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.comment-meta,
.comment-meta a {
	color: #b3b3b1;
	text-decoration: none;
	font-size: 12px;
}

.comment-meta {
	margin-top: -12px;
	margin-bottom: 15px;
	margin-left: 0px;
}

.comment .reply {
	display: block;
}

.comment .reply a {
	margin-top: -10px;
	font-size: 90%;
}

.comment-body:hover .reply {
}

.comment .reply a:hover {
}

.comment-body {
	margin-bottom: 40px;
	margin-left: 0px;
}

.comment-author {
	font-weight: bold;
	font-size: 16px;
	line-height: 48px;
}

.comment-author cite {
	font-style: normal;
}

.comment-author .fn a {
	text-decoration: none;
	color: inherit;
}

.comment-author .says,
.pingback .says,
.pingback .comment-meta,
.pingback .reply {
	display: none;
}

#share-comment-button button,
#share-comment-button-bottom button {
	padding-left: 15px;
	padding-right: 15px;
	height: 3.4em;
	line-height: 50px;
}

#pinglist {
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
	border-top: 1px solid #eee;
	padding-top: 20px;
	margin-top: 80px;

}

ul.pinglist {
	margin-left: 0;
}

.pinglist li {
	display: inline;
	margin-right: 5px;
}

.pinglist li::after {
	content: '\b7';
	margin-left: 5px;
}

.pinglist-title {
	color: #929292;
}

.pinglist li.pinglist-title::after {
	content: '';
}

.pinglist a {
	text-decoration: none;
}

.pinglist a:hover {
	text-decoration: underline;
}

.taglist {
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
}

ul.taglist {
	margin-left: 0;
	margin-top: 30px;
}

.taglist li {
	display: inline-block;
	margin-right: 20px;
}

.taglist-title {
	color: #929292;
}

.taglist a {
	text-decoration: none;
}

.taglist a:hover {
	text-decoration: underline;
}

.trackback span, .pingback span {
	font-weight: normal;
}

.trackback cite, .pingback cite {
	font-style: normal;
}

.pingback {
	position: relative;
}

.form-allowed-tags {
	display: none;
}

/* Styles to Enhance Comment Form */

.comment-form-author label,
.comment-form-email label,
.comment-form-url label,
.comment-form-comment label,
.comment-form-subscriptions label,
.comment-form-reply-title {
	margin-right: 5px;
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
	color: #b3b3b1;
	display: block;
	font-size: 16px;
	font-weight: 100;
}

.comment-form-reply-title {
	display: none;
}

.comment-form-reply-title p {
	margin-bottom: 0;
}

.comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-subscriptions {
	float: left;
	width: 50%;
	min-width: 200px;
}

.comment-form-author input,
.comment-form-email input,
.comment-form-url input,
.comment-form-subscriptions input {
	width: 80%;
}

.comment-form-comment {
	padding-right: 20px;
}

.comment-form .logged-in-as {
	font-size: 80%;
}

.comment-respond {
	background: #F1F1F1;
	border-radius: 10px;
	padding-left: 30px;
	padding-top: 5px;
	padding-right: 30px;
	padding-bottom: 5px;
}

#commentform-top,
#commentform-bottom {
	display: none;
}

.commentlist .comment-respond {
	background: #F1F1F1;
	border-radius: 10px;
	padding-top: 10px;
	padding-right: 10px;
	margin-bottom: 20px;
}

#commentform input[type="submit"] {
	width: 98%;
}

#commentform #main-reply-title h3 {
	letter-spacing: 0px;
}

#cancel-comment-reply-link {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 80%;
	letter-spacing: 0px;
	float: right;
	margin-right: 10px;
	margin-top: -20px;
}

#commentform textarea {
	padding: 10px;
	margin: 0px;
	width: 98%;
}

.form-submit {
	clear: both;
	margin-bottom: 0;
	padding-bottom: 1.5em;
	padding-top: 0.5em;
}

.share-comment-icon::before {
	display: inline-block;
	padding-right: 8px;
	margin-top: -2px;
	font-style: normal;
	font-family: 'Genericons';
	font-size: 20px;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	content: '\f300';
	color: white;
}

.comments-title-icon::before {
	display: inline-block;
	margin-top: -2px;
	font-style: normal;
	font-family: 'Genericons';
	font-size: 20px;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	content: '\f108';
}

.entry-meta #share-comment-button {
	text-align: left;
}

#respond {
	text-align: left;
}

#share-comment-button,
#share-comment-button-bottom {
	display: none;
}

/* =Widgets
----------------------------------------------- */

.widget,
.widget_twitter ul li,
.widget_rss ul li {
	margin: 0 0 4em;
}

/* Search widget */
.widget_search .submit {
	display: none;
}

.widget_rss .rss-date,
.widget_rss li > cite,
.widget_twitter .timesince {
	color: #b3b3b1;
	display: block;
	font-size: 12px;
}

/* =Layout
----------------------------------------------- */

body {
	color: #000000;
	font: 1.9em Georgia, "Times New Roman", Times, serif;
	line-height: 1.5;
}

.site-master-logo {
	position: fixed;
	top: 5px;
	left: 10px;
	transition: opacity .3s linear .3s;
	-webkit-transition: opacity .3s linear .3s;
	-moz-transition: opacity .3s linear .3s;
	-ms-transition: opacity .3s linear .3s;
	-o-transition: opacity .3s linear .3s;
}

.admin-bar .site-master-logo {
	top: 35px;
}

.site-master-logo img {
	width: 48px;
	height: auto;
	opacity: .5;
}

.site-master-logo img:hover {
	opacity: 1;
}

.site-logo img {
	margin-bottom: 10px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	max-width: 100px;
	height: auto;
}

.site-title a {
	color: inherit;
	text-decoration: none;
}

.site-title {
	margin: 0;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: inherit;
}

.site-description {
	margin: 0 0 20px 0;
	color: #929292;
	font-size: 13px;
	font-family: inherit;
	line-height: 1.4;
	font-style: italic;
	letter-spacing: inherit;
	font-weight: inherit;
	margin-top: 5px;
}

.site-published-separator {
	border-top: 1px solid #dededc;
	padding-top: 20px;
	width: 40px;
	float: right;
}

.site-published {
	margin: 10px 0 0 0;
	color: #333332;
	font-size: 14px;
	line-height: 1.4;
	font-style: normal;
	font-weight: bold;
	letter-spacing: inherit;
}

.site-published-date {
	margin: 5px 0 0 0;
	color: #929292;
	font-size: 12px;
	font-family: inherit;
	line-height: 2;
	letter-spacing: inherit;
	font-weight: inherit;
	font-style: normal;
}

.site-published-date a {
	color: #929292;
	text-decoration: none;
}

.main-navigation ul,
.widget-area ul,
.widget-area ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-navigation li,
.widget-area li {
	line-height: .80;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0;
}

.main-navigation a
.widget-area ul li a {
	text-decoration: none;
}

.widget-area ul li a {
	line-height: 1.2;
}

.blogroll li a {
	display: inline-block;
}

.widget-area ul li a:hover {
	text-decoration: underline;
}

.widget-area .widget-title {
	font-size: 16px;
	letter-spacing: inherit;
	margin-bottom: 10px;
}

.widget-area select {
	max-width: 100%;
}

.site-navigation,
.post-navigation {
	margin-top: 20px;
}

.infinite-scroll .paging-navigation,
.infinite-scroll .site-footer {
	display: none;
}

.infinite-wrap {
	max-width: 700px;
}

.infinite-loader {
	display: block;
	padding-left: 50%;
}

.infinite-loader .spinner {
	margin-left: -17px;
}

#infinite-handle {
	margin-top: 20px;
	text-align: center;
}

#infinite-footer .blog-info {
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
}

#infinite-footer .blog-credits {
	color: #b3b3b1;
	font-family: sans-serif;
	font-weight: 100;
}
#infinite-footer .blog-info a:hover {
	text-decoration: none;
}

#infinite-footer .blog-credits a,
#infinite-footer .blog-credits a:hover {
	color: #57ad68;
}

/* Inifnite Scroll - Spinner */
.infinite-loader {
	color: #000;
	position: fixed;
	bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 20px 0;
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
	color: #333332;
	letter-spacing: -1px;
	font-weight: 700;
	line-height: 1;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	hyphens: none;
	word-wrap: break-word;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.3em;
}

h6 {
	font-size: 1.2em;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
	margin-top: 40px;
	margin-bottom: 15px;
}

.entry-content h1 {
	font-size: 2.1em;
}

.entry-content table {
	border-left: solid 1px #eee;
	border-top: solid 1px #eee;
}

.entry-content table td {
	border-right: solid 1px #eee;
	border-bottom: solid 1px #eee;
}

.page h1.entry-title {
	margin-top: 20px;
	font-size: 3.5em;
}

.blog article,
.archive article,
.search article {
	padding: 40px 0 40px 0;
	border-bottom: solid 1px #ddd;
}

.blog article.show-full-content-first-post {
	padding-top: 0;
}

.blog.single-column-layout article.show-full-content-first-post {
	padding-top: 40px;
}

.archive .page-header,
.search .page-header {
	margin-bottom: 4em;
	padding-bottom: 1em;
	border: solid 1px;
	border-color: #eee;
	background: #F5F5F5;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.archive .page-title,
.search .page-title,
.archive .archive-title {
	font-size: 3.5em;
}

.archive.author .archive-title {
	max-width: 80%;
}

article.first-post {
	margin-top: 0;
	padding-top: 0;
}

.entry-title a {
	color: #333332;
	text-decoration: none;
}

.entry-title a:hover {
	color: #57ad68;
}

.entry-title-meta {
	font-size: 13px;
	color: #b3b3b1;
	font-weight: 100;
	letter-spacing: 1px;
	margin-bottom: 0px;
	margin-top: 0px;
	font-style: normal;
	line-height: 1.4;
}

.entry-title-meta-post-date,
.entry-title-meta-author .author-avatar {
	display: none;
}

.entry-title-meta a {
	color: #b3b3b1;
	text-decoration: none;
}

.entry-title-meta-author {
	display: none;
}

.entry-meta,
.entry-meta a {
	color: #b3b3b1;
	font-size: 13px;
	font-family: sans-serif;
	font-weight: 100;
	font-style: normal;
	text-align: right;
}

.entry-meta a:hover {
	color: #57ad68;
}

.single .entry-meta,
.page .entry-meta {
	border-top: 1px solid #eee;
	margin-bottom: 40px;
	margin-top: 40px;
	padding-top: 40px;
}

.single .edit-link,
.page .edit-link {
	float: right;
}

.site {
	background-color: #ffffff;
	margin: 80px auto;
	padding: 0 40px;
	max-width: 700px;
	margin-bottom: 0;
	margin-top: 100px;
}

.site-header {
	float: left;
	margin-top: 0;
	margin-bottom: 30px;
	width: 160px;
	position: relative;
	margin-left: -220px;
	text-align: right;
}

.site-content,
.site-footer {
	float: right;
	max-width: 700px;
	width: 100%;
}

.widget-area {
	float: left;
	width: 160px; /* Sidebar 1 */
	clear: left;
	margin-left: -220px;
	text-align: right;
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
	font-size: 15px;
}

.entry-content,
.widget-area .widget,
.comment {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
}

.entry-title {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	hyphens: none;
	word-wrap: break-word;
}

.widget_search input[type="text"] {
	/* fixes overflow issue */
	width: 90%;
}

.site-footer {
	clear: both;
	margin-top: 100px;
	margin-bottom: 20px;
	color: #b3b3b1;
}

.site-footer,
.site-footer a {
	font-size: 13px;
	text-align: center;
}

.site-footer a:hover {
	color: #57ad68;
}

.site-info {
	font-family: sans-serif;
	font-weight: 100;
}

img#wpstats {
	display: block;
	margin: 5px auto;
	margin-bottom: 25px;
}

table td {
	padding: 4px;
}

table th {
	padding: 4px;
	border-bottom: solid 1px #ccc;
}

.full-width-featured-image #page {
	margin-top: 20px;
}

.post-cover-overlay-post-title #page {
	margin-top: 40px;
}

/* Post Author Bottom Card */

.post-author-bottom {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 40px;
	position: relative;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	display: none;
	min-height: 100px;
}

.post-author-bottom .site-logo img {
	float: left;
	height: auto;
}

.post-author-bottom .site-title,
.post-author-bottom .site-description {
	clear: none;
}

.post-author-bottom .post-author-info {
	margin-left: 140px;
	margin-right: 120px;
	padding-right: 25px;
	padding-top: 10px;
}

.post-author-bottom h1.site-title,
.post-author-bottom h2.site-description {
	margin-left: 0;
}

.post-author-bottom h1.site-title {
	font-style: normal;
	font-size: 20px;
	line-height: 1.6;
}

.post-author-bottom .post-published-date {
	width: 120px;
	margin-left: 385px;
	position: absolute;
	margin-top: -85px;
	top: 145px;
	right: 0;
}

/* Footnotes */

.footnotes p,
.blog .show-full-content-first-post .footnotes p,
.blog .show-full-content-first-post-sticky .footnotes p {
	margin-bottom: 0;
}

.footnotes,
.blog .show-full-content-first-post .footnotes,
.blog .show-full-content-first-post-sticky .footnotes {
	font-size: 80%;
}

.blog .format-aside .footnotes,
.blog .format-quote .footnotes,
.archive .format-aside .footnotes,
.archive .format-quote .footnotes,
.search .format-aside .footnotes,
.search .format-quote .footnotes {
	display: none;
}

.blog hr.footnotes,
.archive hr.footnotes,
.search hr.footnotes {
	margin-left: 0;
	width: 50%;
	background-color: #ddd;
}

.format-aside sup,
.format-quote sup,
.format-aside .footnotes,
.format-quote .footnotes{
	font-size: 15px;
	font-style: normal;
}

/* Author Page Styles */

.author-archive-author-avatar img {
	margin-bottom: 10px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	max-width: 70px;
	height: auto;
}

.author .author-description {
	margin-right: 120px;
}

.author div.author-bio {
	border-bottom: 1px solid;
	border-color: #b3b3b1;
	padding-bottom: 40px;
	margin-bottom: 80px;
}

.author .author-avatar img {
	float: right;
	border-radius: 95px;
	margin-top: -85px;
}

.author .archive-title a {
	color: #333332;
}

.author .archive-title a:hover {
	text-decoration: none;
}

/* WP Audio Shortcode */
.blog .wp-audio-shortcode,
.archive .wp-audio-shortcode,
.search .wp-audio-shortcode,
.single .wp-audio-shortcode {
	margin-bottom: 1.2em;
	margin-top: 10px;
}

/**
 * Styles to apply when Use Single Column Layout option is enabled.
 * (These should closely resemble the styles applied by the
 * @media (max-width: 1200px) rules above.)
 */

.single-column-layout .site-header {
	text-align: center;
	margin-left: 0;
	float: none;
	display: block;
	width: 100%;
	position: relative;
}

.single-column-layout.single .site-header-info {
	display: none;
}

.single-column-layout.single .entry-meta {
	border-top: none;
}

.single-column-layout .site {
	margin-top: 40px;
}

.single-column-layout .post-author-bottom {
	display: block;
}

.single-column-layout .entry-meta {
	border-bottom: none;
}

.single-column-layout .entry-title-meta-author {
	display: inline-block;
}

.single-column-layout .widget-area {
	float: right;
	width: 100%;
	margin-left: 0;
	text-align: inherit;
	padding-top: 40px;
}

.single-column-layout .widget-area ul li a {
	display: inline-block;
}

.single-column-layout #nav-below {
	margin-top: 40px;
	padding-bottom: 40px;
}

.single-column-layout .single .entry-meta {
	border-top: none;
}

.single-column-layout .page article {
	padding: 0 0 40px 0;
}

.single-column-layout .main-navigation {
	clear: none;
}

.single-column-layout .site-navigation {
	border-bottom: 1px solid #eee;
	margin-top: 0;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.single-column-layout #nav-below .site-navigation {
	margin-top: 40px;
	padding-bottom: 40px;
}

.single-column-layout .main-navigation li {
	display: inline-block;
	padding: 5px 10px;
	width: auto;
}

.single-column-layout #masthead .site-title,
.single-column-layout #masthead .site-description {
	clear: none;
	margin-left: 0;
	margin-top: 0;
}

.single-column-layout #masthead .site-title {
	font-size: 32px;
	font-style: normal;
	padding-top: 0;
	padding-left: 0;
}

.single-column-layout #masthead .site-description {
	padding-left: 0;
	padding-top: 10px;
	margin-bottom: 20px;
	font-size: 15px;
}

.single-column-layout .entry-title-meta-author {
	display: inline-block;
}

.single-column-layout #masthead .main-navigation ul {
	margin-left: -10px;
}

.single-column-layout.archive .page-title,
.single-column-layout.archive .archive-title {
	margin-top: 20px;
}

.single-column-layout .entry-title-meta-post-date,
.single-column-layout .entry-title-meta-author .author-avatar {
	display: inline;
}

.single-column-layout.single-format-aside .entry-title-meta-post-date,
.single-column-layout.single-format-quote .entry-title-meta-post-date {
	display: none;
}

.single-column-layout #menu-social ul {
	text-align: center;
	margin-left: -5px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.full-width-featured-image.single-column-layout.single .wp-post-image,
.full-width-featured-image.single-column-layout.page .wp-post-image,
.full-width-featured-image.single-column-layout.blog .wp-post-image,
.full-width-featured-image.single-column-layout.archive .wp-post-image {
	margin-bottom: 0;
}

/**
 * Styles to apply when Post Cover Title is enabled.
 */

 .single.post-cover-overlay-post-title .entry-title-meta {
    display: none;
}
.single.post-cover-overlay-post-title .post-cover-title-wrapper {
    position: relative;
    background: #000
}
.single.post-cover-overlay-post-title .post-cover-title-image {
    position: relative;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 75vh;
    opacity: 0.75;
}
.single.post-cover-overlay-post-title .post-cover-title-head {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 20px;
    background-color: transparent;
    background-image: -webkit-linear-gradient(transparent 0%,#000 200%);
    background-image: linear-gradient(transparent 0%,#000 200%);
}
.single.post-cover-overlay-post-title .post-cover-title-head .post-cover-title {
    margin: 0 auto;
    padding: 20px 40px;
    max-width: 700px;
}
.single.post-cover-overlay-post-title .post-cover-title-head .entry-subtitle,
.single.post-cover-overlay-post-title .post-cover-title-head .entry-title {
    padding: 20px 0 5px;
    color:#fff;
    margin: 0;
}
.single.post-cover-overlay-post-title .post-cover-title-head .entry-subtitle {
    font-weight: lighter;
    padding: 5px 0 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}
.single.post-cover-overlay-post-title .post-cover-title-head .entry-title-meta {
    height: 32px;
    line-height: 32px;
    display: block;
    margin-top: 20px;
}
.single.post-cover-overlay-post-title .post-cover-title-head .entry-title-meta-author {
    display: inline;
}
.single.post-cover-overlay-post-title .post-cover-title-head .entry-title-meta img {
    float: left;
    margin-right: 10px;
}
.single.post-cover-overlay-post-title .post-cover-title-head .entry-title-meta,
.single.post-cover-overlay-post-title .post-cover-title-head .entry-title-meta a {
    color: rgba(255,255,255,0.80);
}
.single.post-cover-overlay-post-title .post-cover-title-head .entry-title-meta a:hover {
    text-decoration: underline;
}


/**
 * Social menu styles; uses Genericons in font/genericons/
 */

.screen-reader-text {
	position: absolute;
	top: -9999em;
	left: -9999em;
}

#menu-social ul {
	list-style: none;
	margin: 0 0 25px;
}

#menu-social ul li {
	display: inline-block;
	position: relative;
}

#menu-social li a::before {
	content: '\f408';
	display: inline-block;
	padding: 0 5px;
	font-family: 'Genericons';
	font-size: 26px;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
}

#menu-social li a[href*="wordpress.org"]::before,
#menu-social li a[href*="wordpress.com"]::before {
	content: '\f205';
	color: #BBC7D3;
}

#menu-social li a[href*="wordpress.org"]:hover::before,
#menu-social li a[href*="wordpress.com"]:hover::before {
	transition: color ease 0.3s;
	color: #4A4A4E;
}

#menu-social li a[href*="facebook.com"]::before {
	content: '\f203';
	color: #BBC7D3;
}

#menu-social li a[href*="facebook.com"]:hover::before {
	transition: color ease 0.3s;
	color: #4A4A4E;
}

#menu-social li a[href*="twitter.com"]::before {
	content: '\f202';
	color: #BBC7D3;
}

#menu-social li a[href*="twitter.com"]:hover::before {
	transition: color ease 0.3s;
	color: #4A4A4E;
}

#menu-social li a[href*="dribbble.com"]::before {
	content: '\f201';
	color: #BBC7D3;
}

#menu-social li a[href*="dribbble.com"]:hover::before {
	transition: color ease 0.3s;
	color: #4A4A4E;
}

#menu-social li a[href*="plus.google.com"]::before {
	content: '\f206';
	color: #BBC7D3;
}

#menu-social li a[href*="plus.google.com"]:hover::before {
	transition: color ease 0.3s;
	color: #4A4A4E;
}

#menu-social li a[href*="pinterest.com"]::before {
	content: '\f210';
	color: #BBC7D3;
}

#menu-social li a[href*="pinterest.com"]:hover::before {
	transition: color ease 0.3s;
	color: #4A4A4E;
}

#menu-social li a[href*="github.com"]::before {
	content: '\f200';
	color: #BBC7D3;
}

#menu-social li a[href*="github.com"]:hover::before {
	transition: color ease 0.3s;
	color: #4A4A4E;
}

#menu-social li a[href*="tumblr.com"]::before {
	content: '\f214';
	color: #BBC7D3;
}

#menu-social li a[href*="tumblr.com"]:hover::before {
	transition: color ease 0.3s;
	color: #4A4A4E;
}

#menu-social li a[href*="youtube.com"]::before {
	content: '\f213';
	color: #BBC7D3;
}

#menu-social li a[href*="youtube.com"]:hover::before {
	transition: color ease 0.3s;
	color: #4A4A4E;
}

#menu-social li a[href*="flickr.com"]::before {
	content: '\f211';
	color: #BBC7D3;
}

#menu-social li a[href*="flickr.com"]:hover::before {
	transition: color ease 0.3s;
	color: #4A4A4E;
}

#menu-social li a[href*="vimeo.com"]::before {
	content: '\f212';
	color: #BBC7D3;
}

#menu-social li a[href*="vimeo.com"]:hover::before {
	transition: color ease 0.3s;
	color: #4A4A4E;
}

#menu-social li a[href*="instagram.com"]::before {
	content: '\f215';
	color: #BBC7D3;
}

#menu-social li a[href*="instagram.com"]:hover::before {
	transition: color ease 0.3s;
	color: #4A4A4E;
}

#menu-social li a[href*="codepen.io"]::before {
	content: '\f216';
	color: #BBC7D3;
}

#menu-social li a[href*="codepen.io"]:hover::before {
	transition: color ease 0.3s;
	color: #4A4A4E;
}

#menu-social li a[href*="linkedin.com"]::before {
	content: '\f208';
	color: #BBC7D3;
}

#menu-social li a[href*="linkedin.com"]:hover::before {
	transition: color ease 0.3s;
	color: #4A4A4E;
}

#menu-social li a[href*="mailto"]::before {
	content: '\f410';
	color: #BBC7D3;
}

#menu-social li a[href*="mailto"]:hover::before {
	transition: color ease 0.3s;
	color: #4A4A4E;
}

/* Hide left-side author card under 1200px */
@media only screen and (max-width: 1200px) {
	.site,
	.single-column-layout .site {
		margin-top: 40px;
	}

	.infinite-scroll #secondary {
		display: none;
	}

	.infinite-scroll .site-content {
		padding-bottom: 60px;
	}

	.multi-author-mode .site,
	.multi-author-mode.single-column-layout .site {
		margin-top: 40px;
	}

	.full-width-featured-image.single .wp-post-image,
	.full-width-featured-image.page .wp-post-image,
	.full-width-featured-image.blog .wp-post-image,
	.full-width-featured-image.archive .wp-post-image {
		margin-bottom: 0;
	}

	.site-description {
		font-size: 15px;
	}

	.site-published-date {
		font-size: 14px;
		line-height: 1;
	}

	.single .site-header-info {
		display: none;
	}

	.site-header {
		text-align: center;
		margin-left: 0;
		display: block;
		width: 100%;
		position: relative;
		margin-bottom: 0;
	}

	.blog article.show-full-content-first-post {
		padding-top: 40px;
	}

	.post-author-bottom {
		display: block;
	}

	.entry-meta {
		border-bottom: none;
	}

	.entry-title-meta-author {
		display: inline-block;
	}

	.entry-title-meta-post-date {
		display: inline;
	}

	.entry-title-meta-author .author-avatar {
		display: inline;
	}

	.single-format-quote .entry-title-meta-post-date,
	.single-format-aside .entry-title-meta-post-date {
		display: none;
	}

	.widget-area {
		float: right;
		width: 100%;
		margin-left: 0;
		text-align: inherit;
		padding-top: 40px;
	}

	.widget-area ul li a {
		display: inline-block;
	}

	#nav-below {
		margin-top: 40px;
		padding-bottom: 40px;
	}

	.single .entry-meta {
		border-top: none;
	}

	.page article {
		padding: 0 0 40px 0;
	}

	.main-navigation {
		clear: none;
	}

	#masthead .site-navigation {
		border-bottom: 1px solid #eee;
		margin-top: 0;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	#nav-below .site-navigation {
		margin-top: 40px;
	}

	.main-navigation li {
		display: inline-block;
		padding: 5px 10px;
		width: auto;
	}

	#masthead .site-title,
	#masthead .site-description {
		clear: none;
		margin-left: 0;
		margin-top: 0;
	}

	#masthead .site-title {
		font-size: 32px;
		font-style: normal;
		padding-top: 0;
		padding-left: 0;
	}

	#masthead .site-description,
	.single-column-layout #masthead .site-description {
		padding-left: 0;
		padding-top: 10px;
		margin-bottom: 20px;
	}

	#masthead .main-navigation ul {
		margin-left: -10px;
	}

	.archive .page-title,
	.archive .archive-title {
		margin-top: 20px;
	}

	#menu-social ul {
		text-align: center;
		margin-left: -5px;
		margin-bottom: 20px;
		margin-top: 20px;
	}
}

@media only screen and (max-width: 500px) {
	.site,
	.single-column-layout .site {
		margin-top: 20px;
	}

	.site-header,
	.single-column-layout .site-header {
		text-align: left;
	}

	.site-main article.sticky {
		padding-right: 20px;
		padding-left: 20px;
		padding-top: 10px;
		margin-left: -10px;
	}

	.multi-author-mode .site,
	.multi-author-mode.single-column-layout .site {
		margin-top: 20px;
	}

	#masthead .site-title,
	.single-column-layout #masthead .site-title {
		padding-top: 0;
		font-size: 24px;
	}

	#masthead .site-logo {
		float: right;
		margin-right: 0;
	}

	#masthead .site-logo img,
	.single-column-layout #masthead .site-logo img {
		max-width: 70px;
		margin-right: 0;
	}

	#masthead .site-title,
	#masthead .site-description,
	.single-column-layout #masthead .site-title,
	.single-column-layout #masthead .site-description {
		margin-left: 0;
	}

	#masthead .site-description,
	.single-column-layout #masthead .site-description {
		margin-bottom: 10px;
	}

	#menu-social {
		clear: both;
	}

	#menu-social ul,
	.single-column-layout #menu-social ul {
		margin-left: 0;
	}

	#masthead .site-navigation {
		margin-left: -10px;
		padding-bottom: 20px;
	}

	#menu-social ul,
	.single-column-layout #menu-social ul {
		text-align: left;
	}

	.single-column-layout .site-navigation {
		margin-bottom: 0;
	}

	#masthead .main-navigation ul,
	.single-column-layout #masthead .main-navigation ul {
		margin-left: inherit;
	}

	#masthead .main-navigation li {
		padding-top: 0;
		padding-bottom: 0;
	}

	.site-navigation button,
	.paging-navigation button {
		padding-left: 10px;
		padding-right: 10px;
	}

	.single .wp-post-image,
	.page .wp-post-image,
	.blog .wp-post-image,
	.archive .wp-post-image {
		margin-bottom: 10px;
	}

	#page {
		padding-left: 20px;
		padding-right: 20px;
	}

	.entry-content,
	#comments {
		font-size: 18px;
		line-height: 1.4;
		width: 100%;
	}

	.entry-title {
		-webkit-hyphens: none;
		-moz-hyphens: none;
		hyphens: none;
		word-wrap: break-word;
	}

	h1.entry-title {
		font-size: 1.9em;
	}

	.entry-content h1 {
		font-size: 1.7em;
	}

	.entry-content h2 {
		font-size: 1.6em;
	}

	.entry-content h3 {
		font-size: 1.5em;
	}

	.entry-content h4 {
		font-size: 1.4em;
	}

	.entry-content h5 {
		font-size: 1.3em;
	}

	.entry-content h6 {
		font-size: 1.2em;
	}

	.entry-content ol, ul {
		margin-left: 2em;
	}

	.author .author-avatar img {
		margin-top: 0;
		max-width: 70px;
		max-height: 70px;
	}

	.post-author-card .site-title {
		padding-top: 0;
		padding-left: 0;
	}

	.post-author-card .site-description {
		padding-left: 0;
	}

	.format-aside .entry-content,
	.format-quote .entry-content {
		font-size: 0.9em;
		margin-bottom: 0;
	}

	.format-aside blockquote,
	.format-quote blockquote {
		margin-left: 0;
	}

	.single .entry-meta {
		text-align: center;
		padding-bottom: 0;
		padding-top: 0;
	}

	.post-author-bottom {
		text-align: center;
	}

	.post-author-bottom .site-title {
		font-size: 24px;
		line-height: 2.2;
	}

	.post-author-bottom .site-logo, .post-author-bottom .site-logo img {
		float: none;
		max-width: 100px;
	}

	.post-author-bottom .post-author-info {
		margin-left: 0;
		margin-right: 0;
		padding-right: 0;
	}

	.post-author-bottom .post-published-date {
		margin-left: 0;
		position: inherit;
		margin-top: 0;
		top: inherit;
		width: 100%;
	}

	.entry-header {
		word-wrap: none;
		hyphens: none;
		-webkit-hyphens: none;
		-moz-hyphens: none;
	}

	.commentlist ul.children {
		margin-left: 0;
		padding-left: 10px;
	}

	.commentlist .thread-even,
	.commentlist .thread-odd {
		padding-left: 10px;
	}

	.entry-content .subtitle {
		font-size: 1.2em;
	}

	.comment-form-author,
	.comment-form-email,
	.comment-form-url,
	.comment-form-subscriptions {
		width: 100%;
	}

	.entry-meta #share-comment-button {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.full-width-featured-image #page {
		margin-top: 0;
	}

	.post-cover-overlay-post-title #page {
		margin-top: 20px;
	}

	.archive .page-title,
	.archive .archive-title,
	.page h1.entry-title {
		font-size: 2.2em;
	}

	.archive.author .archive-title {
		max-width: 100%;
	}

	.page h1.entry-title {
		margin-top: 0;
	}

	.entry-title-meta {
		letter-spacing: 0;
	}

	.page article {
		padding-top: 20px;
	}

	.format-standard .entry-title {
		width: 100%;
	}

	.post-excerpts h1.entry-title, .enhanced-excerpts h1.entry-title {
		font-size: 1.5em;
	}
}

/*
     FILE ARCHIVED ON 15:33:57 Mar 18, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:26:26 Jul 12, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 113.37 (3)
  esindex: 0.016
  captures_list: 133.125
  CDXLines.iter: 13.733 (3)
  PetaboxLoader3.datanode: 139.924 (4)
  exclusion.robots: 0.134
  exclusion.robots.policy: 0.125
  RedisCDXSource: 1.585
  PetaboxLoader3.resolve: 591.659
  load_resource: 660.098
*/