{
  "name": "server",
  "version": "0.0.0",
  "private": true,
  "dependencies": {
    "body-parser": "^1.18.3",
    "express": "^4.16.3",
    "feedparser": "^2.2.9",
    "lodash": "{{ lodash }}",
    "mongodb": "^3.1.6",
    "request": "^2.88.0",
    "socket.io": "^2.1.1",
    "ts-node": "{{ tsnode }}",
    "typescript": "{{ typescript }}",
    "winston": "^3.1.0"
  },
  "scripts": {
    "docker:stop": "docker stop $(docker ps | grep kontor-dev | awk '{print $1}') &>/dev/null",
    "build:dev": "cd docker/dev && docker build -t kontor-dev -f Dockerfile .",
    "build:client": "cd ../client && yarn build",
    "copy:client": "rm -rf ./build/client && mkdir -p ./build/client && cp -r ../client/dist/ ./docker/prod/.build-cache/public",
    "prebuild:prod": "yarn build:client",
    "build:server": "rm -rf build/server && tsc --outDir build/server",
    "build:prod": "yarn build:server && rm -rf docker/prod/.build-cache && mkdir -p docker/prod/.build-cache && cp package.json docker/prod/.build-cache && cp -rf build/server/* docker/prod/.build-cache && yarn copy:client && cd docker/prod && docker build -t kontor-prod -f Dockerfile .",
    "run:dev": "yarn build:dev && docker run -v ${PWD}:/opt/kontor/sources -p 3000:8080 -p 3001:443 -t kontor-dev",
    "run:prod": "yarn build:prod && docker run -p 80:8080 -t kontor-prod",
    "run:node": "./node_modules/.bin/nodemon",
    "init:mongo": "./node_modules/.bin/ts-node src/tools/generate-user.ts",
    "test": "sh ../../scripts/lint-dockerfiles.sh",
    "start": "yarn run:dev",
    "build": "yarn build:prod"
  },
  "engines": {
    "node": "{{ nodejs }}"
  },
  "devDependencies": {
    "@types/express": "^4.16.0",
    "@types/feedparser": "^2.2.1",
    "@types/lodash": "{{ types_lodash }}",
    "@types/mongodb": "^3.1.7",
    "@types/request": "^2.47.1",
    "@types/socket.io": "^1.4.38",
    "@types/winston": "^2.4.4",
    "nodemon": "{{ nodemon }}"
  }
}
