<template>
  <div id="app">
    <top-nav></top-nav>
    <router-view/>
  </div>
</template>

<script>

// import TopNav from './components/TopNav'

export default {
  name: 'App'
  // components: {TopNav}
}
</script>

<style>

@font-face {
  font-family: "Computer Modern";
  src: url('/static/assets/fonts/cmunss.woff2');
}
@font-face {
  font-family: "Computer Modern";
  src: url('/static/assets/fonts/cmunsx.woff2');
  font-weight: bold;
}
@font-face {
  font-family: "Computer Modern";
  src: url('/static/assets/fonts/cmunsi.woff2');
  font-style: italic, oblique;
}
@font-face {
  font-family: "Computer Modern";
  src: url('/static/assets/fonts/cmunbxo.woff2');
  font-weight: bold;
  font-style: italic, oblique;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;

  font-size: 0.9em;
}
  a {
    color: blue;
    /*background-color: rgba(0, 0, 0, 0.10);*/
    padding: 2px 4px;
    border-bottom: none;
  }
  a:visited {
    color: purple;
  }
  /*a:hover {*/
    /*text-decoration: none;*/
    /*background-color: rgba(255, 183, 189, 0.62);*/
    /*border-radius: 3px;*/
    /*color: blue;*/
    /*box-shadow: 2px 2px #efefef;*/
  /*}*/
  .no-wrap {
    white-space: nowrap;
  }
</style>
