{
  "name": "worker",
  "version": "0.0.0",
  "private": true,
  "scripts": {
    "build": "bazel build //src/worker:*",
    "run:node": "./node_modules/.bin/nodemon",
    "build:worker": "cd docker/prod && docker build -t kontor-worker -f worker.Dockerfile .",
    "run:worker": "docker run -u 1000:1000 --network host -w /tmp --cap-add SYS_ADMIN -it kontor-worker"
  },
  "dependencies": {
    "lodash": "{{ lodash }}",
    "puppeteer": "^1.10.0",
    "readability": "git+https://github.com/mozilla/readability.git",
    "ts-node": "{{ tsnode }}",
    "typescript": "{{ typescript }}"
  },
  "engines": {
    "node": "{{ nodejs }}"
  },
  "devDependencies": {
    "@types/puppeteer": "^1.10.0",
    "@types/lodash": "{{ types_lodash }}",
    "@types/request": "^2.47.1",
    "nodemon": "{{ nodemon }}"
  }
}
