<template>

  <div class="container">

    <div class="columns">
      <!--<div class="column col-3">-->
        <!--<ul class="nav">-->
          <!--<li class="nav-item">-->
            <!--<router-link :to="{ path: '/inbox' }">-->
              <!--<font-awesome-icon icon="home" /> All-->
            <!--</router-link>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
            <!--<router-link :to="{ path: '/inbox/favs' }">-->
              <!--<font-awesome-icon icon="heart" /> Favorites-->
            <!--</router-link>-->
          <!--</li>-->
          <!--<li class="nav-item"><subscribe></subscribe></li>-->
          <!--<li v-for="feed in getSubscriptions()" :key="feed._id" class="nav-item">-->
            <!--<router-link :to="{ path: `/inbox/${encodeURIComponent(feed._id)}`}"><font-awesome-icon icon="chevron-right" /> {{ feed.name }}</router-link>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
      <div class="column col-12">
        <div class="inbox">

          <table width="100%">
            <thead>
            <tr>
              <td>via</td>
              <td></td>
              <td>Score</td>
              <td>Added</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="article in getArticles()" :key="article._id">
              <td>
                {{ getProvidedBy(article) }}
              </td>
              <td>
                <router-link :to="{ path: `/reader/${encodeURIComponent(article._id)}`}">{{ article.title }}</router-link>
                <div>
                  <span v-for="tag in article.tags" :key="tag" class="chip">{{tag}}</span>
                </div>
              </td>
              <td><progress class="progress tooltip tooltip-top" :data-tooltip="`${parseInt(article.progress*100)}% relevance`" :value="parseInt(Math.random()*100)" max="100"></progress></td>
              <td class="no-wrap">{{ formatDate(article.createdAt) }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import axios from 'axios'
import dayjs from 'dayjs'
import {join} from 'lodash'
import * as relativeTime from 'dayjs/plugin/relativeTime'
import Subscribe from './Subscribe'

dayjs.extend(relativeTime)

// the "on" param shows the name of the feed, but an article could come from several feeds, so it should showthe domain

export default {
  name: 'Inbox',
  components: {Subscribe},
  data () {
    return {
      articles: [],
      subscriptions: [],
      currentFeedId: null

    }
  },
  mounted () {
    this.fetchInbox()
    this.currentFeedId = this.$route.params.feedId
    console.log('currentFeedId', this.currentFeedId)
  },
  beforeRouteUpdate (to, from, next) {
    console.log('currentFeedId', to)
    this.currentFeedId = to.params.feedId
    next()
  },
  methods: {
    getSubscriptions () {
      return this.subscriptions
      // return map(this.feeds, (feed) => {
      //   const articlesOfFeed = filter(this.articles, {feedId: feed._id})
      //   const unreadCount = filter(articlesOfFeed, {progress: 0}).length
      //   return {
      //     _id: feed._id,
      //     name: feed.name,
      //     unreadCount
      //   }
      // })
    },
    getArticles () {
      return this.articles
    },
    formatDate (date) {
      const m = dayjs(new Date(date))
      const now = dayjs(new Date())
      if (Math.abs(m.diff(now, 'day')) < 8) {
        // return relativeTime(m, now, {})
        return m.fromNow(true)
      } else {
        return `at ${m.format('DD. MM. YY')}`
      }
    },
    getProvidedBy (article) {
      return join(article.providedBy, ', ')
    },
    fetchInbox () {
      // see https://github.com/axios/axios
      axios('/api/page/_').then((response) => {
        const {articles, subscriptions} = response.data
        this.articles = articles
        this.subscriptions = subscriptions
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .inbox {
    border-radius: 0.3em;
    padding: .6rem;
  }
  progress {
    width: 40px;
  }
  ul {
    list-style: none;
  }

</style>
