<template>
  <div>
    <div class="input-group input-inline">
      <input class="form-input" type="text" placeholder="search">
      <button class="btn btn-primary input-group-btn">Search</button>
    </div>
    <dl v-if="withAutosuggest">
      <dt>Recent</dt>
      <dd>digitale pflege</dd>
      <dd>kryptographie</dd>
      <dd>feedly screenshots</dd>
      <dt>Actions</dt>
      <dd>Subscribe to site</dd>
      <dd class="loading float-left"></dd>
    </dl>
  </div>

</template>

<script>

export default {
  name: 'SearchBox',
  data () {
    return {
      withAutosuggest: false
    }
  }
}
</script>

<style scoped>

</style>
