<template>
  <div>
    <a href="javascript:void(0)" v-on:click="openModal(true)">
      <font-awesome-icon icon="plus" /> Subscribe
    </a>

    <!--What: Best of / everything / contains text Toni Polster-->
    <!--Frequency: Normal-->
    <!--From: List of feeds-->
    <!--Post-Harvest-Steps: add metrics-->

    <div class="modal active" v-if="showModal">
      <a href="javascript:void(0)" v-on:click="cancel" class="modal-overlay" aria-label="Close"></a>
      <div class="modal-container">
        <div class="modal-header">
          <a href="javascript:void(0)" v-on:click="cancel" class="btn btn-clear float-right" aria-label="Close"></a>
          <div class="modal-title h5">Add Feed</div>
        </div>

          <div v-if="!wizardStep">

            <div class="modal-body">
              <!-- what -->
              <div class="m-1">
                <div class="form-group">
                  <label class="form-label" for="what">What</label>
                  <input class="form-input" type="text" id="what" placeholder="Best-of, everything, filter text" v-model="what">
                </div>
              </div>
              <!-- when -->
              <div v-if="false">
                <div class="form-group">
                  <label class="form-label" for="feed-url">When</label>
                  <input class="form-input" type="text" id="when" placeholder="default" v-model="when">
                </div>
              </div>

              <!-- from -->
              <div class="m-1">

                <div class="form-group">
                  <label class="form-label" for="sources">Sources</label>

                  <div class="input-group">
                    <input id="sources" class="form-input" type="text" v-model="queryString" placeholder="Website, URL">
                    <button class="btn btn-primary" v-on:click="performSearch">Find</button>
                  </div>
                </div>

                <div v-bind:class="{ 'loading': isLoading }">
                  <div v-if="hasFinishedSearch && foundFeeds.length === 0" class="mt-2 mb-2">
                    No feeds found. If you are looking for a specific site, please enter the full url.
                  </div>
                  <table v-if="hasFinishedSearch && foundFeeds.length > 0" class="table">
                    <tbody>
                      <tr v-for="feed in foundFeeds" :key="feed._id">
                        <td><a :href="feed.url" target="_blank" rel="nofollow noopener noreferrer">{{ feed.name }}</a></td>
                        <td class="text-right"><a href="javascript:void(0)" class="btn" v-on:click="subscribeFeed(feed)">Add Source</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- post -->
              <div>
                <div class="form-group">
                  <label class="form-label" for="feed-url">Post-Harvest</label>
                  <input id="postProcess" class="form-input" type="text" placeholder="Get twitter shares" v-model="postHarvest">
                </div>
              </div>
            <!--<div class="modal-footer">-->
              <!--<button class="btn btn-link" v-on:click="cancel">Cancel</button>-->
              <!--<button class="btn btn-primary float-right" v-on:click="subscribeManually">Enter Manually</button>-->
            <!--</div>-->
            </div>
          </div>
          <div v-if="wizardStep === steps.FEED_FORM">
            <div class="modal-body">
              <div class="form-group">
                <label class="form-label" for="feed-name">Name</label>
                <input class="form-input" type="text" id="feed-name" placeholder="Name" v-model="feed.name" :readonly="readonly">
              </div>
              <div class="form-group">
                <label class="form-label" for="feed-url">Feed Url</label>
                <input class="form-input" type="text" id="feed-url" placeholder="Url" v-model="feed.url" readonly="true">
              </div>
              <div class="form-group">
                <label class="form-label" for="feed-filter">Filter</label>
                <input class="form-input" id="feed-filter" v-model="feed.filter">
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-link" v-on:click="wizardStep--">Back</button>
              <button class="btn btn-primary float-right" v-on:click="subscribe">Subscribe</button>
            </div>

          </div>

      </div>
    </div>
  </div>
</template>

<script>

import axios from 'axios'
import dayjs from 'dayjs'
import * as relativeTime from 'dayjs/plugin/relativeTime'

dayjs.extend(relativeTime)

export default {
  name: 'Subscribe',
  data () {
    return {
      foundFeeds: [],
      feed: {},
      queryString: '',
      isLoading: false,
      wizardStep: 0,
      showModal: false,
      hasFinishedSearch: false,
      steps: {
        FEED_FORM: 'SUBSCRIBE_FEED'
      }
    }
  },
  beforeRouteUpdate (to, from, next) {
    this.url = to.params.url
    next()
  },
  mounted () {
    this.reset()
  },
  methods: {
    cancel () {
      this.openModal(false)
    },
    subscribeFeed (feed) {
      console.log('subscribe', feed)
      this.wizardStep = this.steps.FEED_FORM
      this.readonly = true
      this.feed = {
        feedId: feed._id,
        url: feed.url,
        name: feed.name
      }
    },
    performSearch (e) {
      this.isLoading = true
      axios(`/api/feeds/list?query=${this.queryString}`)
        .then((response) => {
          const data = response.data
          if (data.errors) {
            return Promise.reject(data.errors[0].message)
          }
          this.foundFeeds = data
          this.hasFinishedSearch = true
          this.isLoading = false
        })
        .catch((err) => {
          console.error(err)
        })

      e.preventDefault()
      return false
    },
    openModal (open) {
      this.reset()
      this.showModal = open
    },
    reset () {
      this.wizardStep = 0
      this.feed = {}
    },
    subscribe () {
      axios.put('/api/subscriptions', this.feed)
        .then((response) => {
          if (response.data.errors) {
            return Promise.reject(response.data.errors[0].message)
          }
          this.openModal(false)
        })
        .catch(() => {
        })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
