<template>

  <header class="navbar mt-1 mr-2 ml-2">
    <section class="navbar-section">
      <router-link :to="{ path: '/' }" class="navbar-brand mr-2">kontor</router-link>
    </section>
    <section class="navbar-section">
      <search-box></search-box>
      <font-awesome-icon icon="user" />
    </section>
  </header>

</template>

<script>

import SearchBox from './SearchBox'
import Subscribe from './Subscribe'

export default {
  name: 'TopNav',
  components: {SearchBox, Subscribe}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
</style>
