/*!
 * Theme Name: join-civil
 * Theme URI:
 * Description: Wordpress Theme designed by Marko Bajlovic & Aaron Baker
 * Version: 1.0.2
 * Author: Marko Bajlovic, Aaron Baker
 * Author URI: tba
 *
 * License: Attribution-NonCommercial-NoDerivatives 4.0 International
 * License URI: http://creativecommons.org/licenses/by-nc-nd/4.0/
*/

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

@charset "UTF-8";
/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
/* Modules */
/**
* modules/variables
* ---
*
*/
/* Typography */
/* Colors */
/* Social Colors */
/**
 * modules/mixins
 * ---
 */
.onebyone {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .onebyone:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%; }
  .onebyone > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.twobyone {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .twobyone:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 50%; }
  .twobyone > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.onebytwo {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .onebytwo:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 200%; }
  .onebytwo > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.onebyonehalf {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .onebyonehalf:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 150%; }
  .onebyonehalf > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.fourbythree {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .fourbythree:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 75%; }
  .fourbythree > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.sixteenbynine, .about .mission .video-wrapper .youtube {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .sixteenbynine:before, .about .mission .video-wrapper .youtube:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%; }
  .sixteenbynine > .content, .about .mission .video-wrapper .youtube > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

@-webkit-keyframes fade_up {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(0, 70px);
    transform: translate(0, 70px); }
  100% {
    -webkit-transition: transform 1.1s ease-out;
    -webkit-transition: -webkit-transform 1.1s ease-out;
    transition: -webkit-transform 1.1s ease-out;
    transition: transform 1.1s ease-out;
    transition: transform 1.1s ease-out, -webkit-transform 1.1s ease-out;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100); } }

@keyframes fade_up {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(0, 70px);
    transform: translate(0, 70px); }
  100% {
    -webkit-transition: transform 1.1s ease-out;
    -webkit-transition: -webkit-transform 1.1s ease-out;
    transition: -webkit-transform 1.1s ease-out;
    transition: transform 1.1s ease-out;
    transition: transform 1.1s ease-out, -webkit-transform 1.1s ease-out;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100); } }

.animate {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(0, 100px);
  transform: translate(0, 100px);
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }
  .animate.dayone-reveal {
    -webkit-animation-name: fade_up;
    animation-name: fade_up; }

@-webkit-keyframes smallbig {
  0%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }

@keyframes smallbig {
  0%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }

/* Partials */
/**
 * partials/reset
 * ---
 * Custom Reset file
 * NOTE: also `normalize.css` is used
 */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  opacity: 0; }
  html.font-active {
    -webkit-transition: opacity 888ms ease-in-out;
    transition: opacity 888ms ease-in-out;
    opacity: 1; }

body {
  font-family: "Spectral", Serif; }

img {
  max-width: 100%;
  vertical-align: middle; }

::-moz-selection {
  background-color: #2b56ff;
  color: #fff;
  text-shadow: none; }

::selection {
  background-color: #2b56ff;
  color: #fff;
  text-shadow: none; }

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
  padding: 0; }

figure {
  margin: 0 0 20px; }

ol,
ul {
  padding-left: 25px;
  margin: 0 0 20px; }

p,
li {
  color: #3f3c39;
  font-family: "Libre Franklin", Sans-Serif;
  font-size: 16px;
  line-height: 26px;
  margin: 0 0 20px; }

li ul {
  margin: 20px 0; }

a {
  color: #2b56ff;
  text-decoration: none;
  -webkit-transition: color .2s;
  transition: color .2s;
  word-break: break-word; }
  a:focus, a:hover {
    color: #7d7373;
    text-decoration: none; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Libre Franklin", Sans-Serif;
  font-weight: normal;
  margin: 0 0 5px;
  text-rendering: optimizeLegibility; }

q {
  quotes: "“" "”" "‘" "’"; }
  q:before {
    content: open-quote; }
  q:after {
    content: close-quote; }

/**
 * partials/utils
 * ---
 * Utils classes
 * NOTE: WE ARE NOT CURRENTLY USING THIS FILE
 */
html {
  opacity: 0; }
  html.font-active {
    -webkit-transition: opacity 888ms ease-in-out;
    transition: opacity 888ms ease-in-out;
    opacity: 1; }

/* clearfix: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clear:before, .clear:after {
  content: " ";
  display: table; }

.clear:after {
  clear: both; }

.reset-box {
  margin: 0;
  padding: 0; }

p {
  margin-bottom: 20px; }

/**
 * partials/header
 * ---
 * - desktop and mobile navs have seperate html
 * - mobile styles are at the bottom of this file
 */
.header-mobile {
  display: none; }

.header-desktop {
  background-color: #000;
  color: #fff;
  font-family: "Libre Franklin", Sans-Serif;
  font-size: 12px;
  font-weight: 500;
  left: 0;
  letter-spacing: 1px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6; }
  .header-desktop .nav-wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 68px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    max-width: 1440px;
    padding: 10px 30px;
    position: relative; }
  .header-desktop .nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase; }
    .header-desktop .nav a {
      color: #fff;
      padding: 6px 12px;
      text-decoration: none;
      -webkit-transition: color .2s;
      transition: color .2s; }
      .header-desktop .nav a:hover {
        color: #7d7373; }
    .header-desktop .nav .blue-btn {
      background-color: #2b56ff;
      display: block;
      margin-left: 10px;
      padding: 15px; }
    .header-desktop .nav .last-border {
      border-left: 1px solid #333;
      padding: 6px 8px 6px 12px; }
    .header-desktop .nav__dropdown {
      position: relative;
      padding: 6px 12px; }
      .header-desktop .nav__dropdown:hover .nav__dropdown-items {
        display: block; }
      .header-desktop .nav__dropdown a {
        border-bottom: 1px solid #555;
        display: block;
        line-height: 1.3;
        padding: 10px 0;
        text-align: left; }
        .header-desktop .nav__dropdown a:last-of-type {
          border: none; }
    .header-desktop .nav__dropdown-arrow {
      height: 8px;
      margin: -2px 0 0 2px;
      width: 12px; }
    .header-desktop .nav__dropdown-items {
      background-color: #000;
      display: none;
      left: 0;
      padding: 21px 16px 16px;
      position: absolute;
      top: 25px;
      width: 200px; }

/* Mobile Styles */
@media only screen and (max-width: 900px) {
  .header-desktop {
    display: none; }
  .header-mobile {
    display: block;
    left: 0;
    width: 100%;
    z-index: 2; }
    .header-mobile.is--sticky {
      position: fixed;
      top: 0; }
    .header-mobile__top {
      background-color: #000;
      position: relative;
      height: 54px;
      padding: 14px 30px; }
    .header-mobile button {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: none;
      background-color: #000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 42px;
      left: 6px;
      position: absolute;
      top: 6px;
      width: 42px; }
      .header-mobile button:focus {
        outline: 0; }
    .header-mobile .nav-open-btn {
      display: block; }
    .header-mobile .nav-close-btn {
      display: none; }
    .header-mobile .logo {
      margin: 0 auto;
      width: 70px; }
      .header-mobile .logo a {
        display: block;
        padding: 5px; }
      .header-mobile .logo img {
        width: 100%; }
    .header-mobile__nav {
      background-color: #000;
      border-top: 1px solid #333;
      color: #fff;
      display: none;
      font-family: "Libre Franklin", Sans-Serif;
      font-size: 12px;
      font-weight: 500;
      height: auto;
      height: 100vh;
      letter-spacing: 1px;
      padding: 0 45px 10px;
      position: absolute;
      text-transform: uppercase;
      width: 100%; }
      .header-mobile__nav a {
        border-bottom: 1px solid #333;
        color: #fff;
        display: block;
        padding: 15px 0;
        text-align: left;
        text-decoration: none; }
        .header-mobile__nav a:last-of-type {
          border-bottom: 1px solid #fff; }
      .header-mobile__nav .shift {
        margin: 0 0 0 20px; }
      .header-mobile__nav span {
        border-bottom: 1px solid #333;
        color: #afafaf;
        display: block;
        text-align: left;
        padding: 15px 0; }
    .header-mobile.is--open .header-mobile__nav {
      display: block;
      z-index: 10; }
    .header-mobile.is--open .nav-open-btn {
      display: none; }
    .header-mobile.is--open .nav-close-btn {
      display: block; } }

/**
 * partials/footer
 * ---
 * mobile styles at the bottom of this file
 */
.footer {
  border-top: 1px solid #d8d8d8;
  font-family: "Libre Franklin", Sans-Serif;
  margin: 0 auto;
  max-width: 1440px;
  padding: 50px 30px; }
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__inner-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer__inner-right {
    color: #000;
    font-size: 12px;
    padding: 9px 0 0;
    text-align: right; }
  .footer__logo {
    margin-right: 50px;
    width: 74px; }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer__nav a {
      color: #5a5653;
      font-size: 12px;
      font-weight: 500;
      line-height: 28px;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: color .2s;
      transition: color .2s; }
      .footer__nav a:hover {
        color: #2b56ff; }
    .footer__nav ul {
      margin: 0 20px;
      padding: 2px 0 0;
      width: 120px; }
    .footer__nav li {
      list-style: none;
      margin: 0;
      text-align: left; }
  .footer .slogan {
    margin-bottom: 10px; }
  .footer__social {
    margin-bottom: 69px; }
    .footer__social a {
      margin: 0 14px 0 0; }
      .footer__social a:last-of-type {
        margin: 0; }
  .footer .copyright {
    color: #7d7373;
    display: block;
    font-size: 12px; }

/* Mobile Styles */
@media only screen and (max-width: 800px) {
  .footer {
    padding: 40px 15px; }
    .footer__inner {
      display: block; }
    .footer__inner-left {
      display: block;
      margin: 0 0 30px; }
    .footer__inner-right {
      padding: 9px 0 0;
      text-align: left; }
    .footer__logo {
      margin: 0 0 30px; }
    .footer__nav {
      display: block; }
      .footer__nav ul {
        margin: 0 0 15px;
        padding: 0;
        width: 100%; }
    .footer__social {
      margin-bottom: 30px; } }

/**
 * Grid Template Styles
 * ---
 * - site grids
 * - flex layouts
 */
.grid-col-sm,
.grid-col-md,
.grid-col-lg {
  margin: 0 auto 80px;
  padding: 0 20px;
  width: 100%; }
  .grid-col-sm.grid-divider,
  .grid-col-md.grid-divider,
  .grid-col-lg.grid-divider {
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 80px; }

.grid-col-sm {
  max-width: 675px; }

.grid-col-md {
  max-width: 725px; }

.grid-col-lg {
  max-width: 1110px; }
  .grid-col-lg .grid-col-2 {
    margin-bottom: 50px; }

/* Two column page template (left rail with header, wider right col) */
.grid-col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* column 1 is header */
  /* column 2 is content */ }
  .grid-col-2__1 {
    width: 32%; }
    .grid-col-2__1 h2,
    .grid-col-2__1 h3 {
      font-family: "Libre Franklin", Sans-Serif;
      font-size: 24px;
      font-weight: 300;
      line-height: 32px;
      margin: 0; }
  .grid-col-2__2 {
    padding: 6px 0 0;
    width: 66%; }
    .grid-col-2__2 .grid-section {
      border-bottom: 1px solid #d8d8d8;
      margin: 0 0 40px;
      padding: 0 0 20px; }
      .grid-col-2__2 .grid-section:last-of-type {
        border-bottom: none;
        padding: 0; }
    .grid-col-2__2 p,
    .grid-col-2__2 li {
      max-width: 635px; }

/* Three across flex grid */
.flex-grid-3 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .flex-grid-3 .grid-module {
    margin: 0 3.5% 50px 0;
    width: 31%; }
    .flex-grid-3 .grid-module:nth-of-type(3n) {
      margin: 0 0 50px; }

/* Four across flex grid */
.flex-grid-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .flex-grid-4 .grid-module {
    margin: 0 4% 50px 0;
    width: 22%; }
    .flex-grid-4 .grid-module:nth-of-type(4n) {
      margin: 0 0 50px; }

/**
 * Reusable Components
 * ---
 *
 */
/* Standard blue button */
.btn-blue {
  background-color: #2b56ff;
  border: none;
  color: #fff;
  display: block;
  font-family: "Libre Franklin", Sans-Serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
  width: 150px; }
  .btn-blue:hover, .btn-blue:focus {
    background-color: #4b6fff;
    color: #fff; }

.btn-grey {
  border: solid 1px #5a5653;
  color: #5a5653;
  display: block;
  font-family: "Libre Franklin", Sans-Serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
  width: 150px; }
  .btn-grey:hover, .btn-grey:focus {
    border: solid 1px #7d7373;
    color: #7d7373; }

.blue-btn-outline {
  background-color: #2b56ff;
  border: 2px solid #fff;
  color: #fff;
  display: inline-block;
  font-family: "Libre Franklin", Sans-Serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 10px;
  padding: 3px 5px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
  width: 100px; }
  .blue-btn-outline:hover, .blue-btn-outline:focus {
    background-color: #4b6fff;
    color: #fff; }
  .blue-btn-outline img {
    vertical-align: baseline; }

/* Short line above title text */
.title-line {
  display: block;
  height: 5px;
  margin: 0 0 7px;
  width: 45px; }
  .title-line rect {
    fill: #000;
    height: 5px;
    width: 45px; }
  .title-line__yellow rect {
    fill: #fff120; }
  .title-line__blue rect {
    fill: #2b56ff; }

/* Short line above new section */
.line-break-teal {
  border: solid 3px #30e8bd;
  height: 3px;
  margin-bottom: 35px;
  width: 54px; }

/* Slogan - #ownthenews */
.slogan {
  display: block;
  font-family: "Libre Franklin", Sans-Serif;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.8px;
  margin: 0 auto 8px;
  text-transform: uppercase; }

/* Header titles */
.main-title {
  margin: 137px 0 50px; }
  .main-title header {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 160px;
    margin: 0 auto; }
  .main-title h1 {
    color: #000;
    font-family: "Spectral", Serif;
    font-size: 48px;
    font-weight: 200;
    letter-spacing: -1px;
    line-height: 52px;
    margin: 0;
    padding: 0 0 30px; }
    .main-title h1 .label-txt {
      display: block;
      font-family: "Libre Franklin", Sans-Serif;
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 1.2px;
      line-height: 1;
      margin-bottom: 10px;
      text-transform: uppercase; }

.title-style-white {
  background-color: #fff;
  border-bottom: 1px solid #d8d8d8; }
  .title-style-white header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 300px; }
  .title-style-white h1 {
    margin: 0;
    padding: 0; }

.title-style-grey {
  background-color: rgba(233, 233, 234, 0.3); }

.title-style-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .title-style-img h1 {
    color: #fff; }

/* Blue Bar Banner */
.blue-bar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-bottom: solid 3px #2b56ff;
  color: #2b56ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Libre Franklin", Sans-Serif;
  font-size: 18px;
  font-weight: 600;
  height: 69px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  top: 68px;
  line-height: 21px;
  padding: 10px 20px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 5; }

/* Join Civil */
.join-civil {
  background-color: #000;
  margin: 0 auto 80px;
  padding: 80px 80px 90px;
  text-align: center; }
  .join-civil__inner {
    margin: 0 auto;
    max-width: 400px; }
  .join-civil h2 {
    color: #fff;
    font-family: "Spectral", Serif;
    font-size: 48px;
    font-weight: 200;
    line-height: 52px;
    margin: 0 auto 20px; }
  .join-civil p {
    color: #fff;
    font-size: 24px;
    line-height: 1.17;
    margin: 0 auto 12px; }
  .join-civil span {
    color: #fff;
    display: block;
    font-family: "Libre Franklin", Sans-Serif;
    font-size: 16px;
    line-height: 26px;
    margin: 0 auto 20px; }
  .join-civil .btn-blue {
    margin: 0 auto; }

/* Bottom newsletter signup */
.newsletter-signup-btm {
  background-color: rgba(233, 233, 234, 0.3);
  margin: 0 auto;
  padding: 50px;
  text-align: left; }
  .newsletter-signup-btm__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto; }
  .newsletter-signup-btm__inner-left {
    max-width: 400px;
    width: 48%; }
  .newsletter-signup-btm__inner-right {
    width: 48%; }
  .newsletter-signup-btm h4 {
    font-family: "Libre Franklin", Sans-Serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 5px; }
  .newsletter-signup-btm p {
    margin-bottom: 5px; }
  .newsletter-signup-btm .btn-blue {
    margin: 0 auto; }

/* MailChimp embed */
.mc-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  width: 100%; }

.mc-email-input {
  border: 1px solid #d8d8d8;
  color: #7d7373;
  font-family: "Libre Franklin", Sans-Serif;
  font-size: 14px;
  height: 48px;
  line-height: 18px;
  padding: 15px;
  width: 100%; }

#mc_embed_signup input.mce_inline_error {
  border-color: #ff0c1a !important; }

/* Read More Button */
.read-more-preview {
  padding-bottom: 40px;
  position: relative; }
  .read-more-preview .read-more__wrapper {
    max-height: 100%; }
  .read-more-preview.is--hidden .read-more__wrapper {
    max-height: 120px;
    overflow: hidden; }
  .read-more-preview .read-more__btn-wrapper {
    position: relative; }
  .read-more-preview.is--hidden .read-more__btn-wrapper {
    bottom: 0;
    left: 0;
    position: absolute; }
  .read-more-preview .read-more__btn {
    background-color: transparent;
    border: none;
    bottom: 20px;
    cursor: pointer;
    height: 20px;
    left: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    width: 100%; }
    .read-more-preview .read-more__btn:focus {
      outline: 0; }
  .read-more-preview .read-more__arrow {
    margin: 0 0 -2px 5px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .read-more-preview.is--hidden .read-more__btn {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#fff));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
    bottom: 0;
    height: 130px; }
  .read-more-preview .is--open .read-more__arrow {
    margin: 0 0 -1px 5px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .read-more-preview .read-more__btn-text {
    color: #2b56ff;
    font-family: "Libre Franklin", Sans-Serif;
    font-size: 11px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase; }

.read-more {
  padding-bottom: 40px;
  position: relative; }
  .read-more__wrapper {
    max-height: 100%; }
  .read-more.is--hidden .read-more__wrapper {
    max-height: 0;
    overflow: hidden; }
  .read-more__btn-wrapper {
    position: relative; }
  .read-more.is--hidden .read-more__btn-wrapper {
    bottom: 0;
    left: 0;
    position: absolute; }
  .read-more__btn {
    background-color: transparent;
    border: none;
    bottom: -10px;
    cursor: pointer;
    height: 20px;
    left: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    width: 100%; }
    .read-more__btn:focus {
      outline: 0; }
  .read-more__arrow {
    margin: 0 0 -2px 5px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .read-more.is--hidden .read-more__btn {
    height: 50px; }
  .read-more .is--open .read-more__arrow {
    margin: 0 0 -1px 5px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .read-more__btn-text {
    color: #2b56ff;
    font-family: "Libre Franklin", Sans-Serif;
    font-size: 11px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase; }

/* Sticky side nav */
.side-nav {
  position: relative; }
  .side-nav.is--sticky {
    position: fixed;
    top: 85px; }

/* Drip Email Styles */
.drip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px; }
  .drip .email-input {
    color: #5a5653;
    font-family: "Libre Franklin", Sans-Serif;
    font-size: 14px;
    max-width: 400px;
    padding: 10px 12px;
    width: 100%; }

/* Sumo Specific Styles (Telegram or email signup slideout) */
.sumome-react-wysiwyg-popup-container p {
  font-family: "Libre Franklin", Sans-Serif !important; }

/* CTAS */
.webinar {
  margin-top: 20px;
  font-size: 13px !important; }

/**
 * Page Specific Styles
 * ---
 * Note: mobile styles are in mobile.scss
 */
/**
 * Index page
 * ---
 * civil.co
 */
.home .main-title {
  margin: 0; }
  .home .main-title header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 200px; }
  .home .main-title h1 {
    max-width: 620px;
    text-align: center; }

.home .learn {
  position: relative;
  text-align: center; }
  .home .learn a {
    display: inline-block; }
  .home .learn h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 55px; }
  .home .learn .btn-grey {
    width: 250px;
    margin-right: 30px; }
    .home .learn .btn-grey img {
      margin-left: 5px; }
  .home .learn .btn-blue {
    width: 270px;
    border: 1px solid #2b56ff; }
  .home .learn .learn-sale {
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    color: #5a5653;
    margin-left: 51%;
    margin-top: 15px;
    width: 282px; }

.home .meet {
  background-color: #dbfbf3;
  margin: 0 auto 80px;
  padding: 80px 0; }
  .home .meet__inner {
    margin: 0 auto; }
    .home .meet__inner a {
      display: inline-block;
      margin: 0 10px; }
    .home .meet__inner h2 {
      font-size: 14px;
      font-weight: 800;
      line-height: 14px;
      letter-spacing: 0.9px;
      text-transform: uppercase;
      margin-bottom: 10px; }
    .home .meet__inner h3 {
      font-size: 28px;
      font-weight: 700;
      line-height: 40px;
      margin-bottom: 10px; }
    .home .meet__inner p {
      font-size: 19px;
      color: #5a5653;
      line-height: 32px;
      margin-bottom: 35px;
      width: 80%; }
    .home .meet__inner .meet-ctas {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .home .meet__inner .meet-ctas .meet-btn-newsrooms {
        width: 325px; }
      .home .meet__inner .meet-ctas .meet-btn-journalists {
        width: 330px; }
        .home .meet__inner .meet-ctas .meet-btn-journalists img {
          margin-left: 5px; }

.home .media {
  /* pulled from joincivil v1 */ }
  .home .media .section-pre-title__border {
    width: 30px; }
  .home .media .section-pre-title {
    color: #000;
    display: inline-block;
    font-family: "Libre Franklin", Sans-Serif;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.9px;
    line-height: 14px;
    position: relative;
    text-transform: uppercase; }
  .home .media .section__title-wrapper {
    margin: auto;
    max-width: 500px;
    text-align: center;
    width: 100%;
    margin-bottom: 50px; }
  .home .media .media_list {
    list-style: none;
    margin-bottom: 0;
    text-align: center; }
    .home .media .media_list img {
      max-width: 130px; }
    .home .media .media_list li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .home .media .media_list q {
      font-family: "Spectral", Serif;
      font-size: 23px;
      line-height: 26px; }
    .home .media .media_list .small-divider {
      margin-bottom: 40px; }
  .home .media .media-button {
    margin: 0 auto;
    width: 160px; }

.home .media-mobile {
  display: none;
  /* pulled from joincivil v1 */
  padding: 0 20px 20px; }
  .home .media-mobile .section__inner-inner-wrapper {
    margin: auto;
    max-width: 900px;
    position: relative;
    z-index: 3; }
  .home .media-mobile .section-pre-title__border {
    width: 30px; }
  .home .media-mobile .section-pre-title {
    color: #000;
    display: inline-block;
    font-family: "Libre Franklin", Sans-Serif;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.9px;
    line-height: 14px;
    position: relative;
    text-transform: uppercase; }
  .home .media-mobile .section__title-wrapper {
    margin: auto;
    max-width: 500px;
    text-align: center;
    width: 100%; }
  .home .media-mobile #tns1 > .tns-item h1 {
    padding: 10px 10%; }
  .home .media-mobile .tns-slider {
    text-align: center; }
  .home .media-mobile .tns-item {
    vertical-align: middle !important; }
    .home .media-mobile .tns-item .q-inner-wrapper {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .home .media-mobile .tns-item q {
      color: #000;
      display: block;
      font-family: "Spectral", Serif;
      font-size: 38px;
      font-weight: 200;
      letter-spacing: 1.11px;
      line-height: 40px;
      margin: auto;
      width: 74%; }
      .home .media-mobile .tns-item q:before {
        left: 8px;
        position: relative; }
      .home .media-mobile .tns-item q:after {
        right: 8px;
        position: relative; }
    .home .media-mobile .tns-item h5 {
      color: #d8d8d8;
      font-family: "Libre Franklin", Sans-Serif;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 33px; }
    .home .media-mobile .tns-item .small-divider {
      background-color: #d8d8d8;
      height: 1px;
      margin: 20px auto 10px;
      width: 10px; }
    .home .media-mobile .tns-item img {
      max-width: 150px; }
  .home .media-mobile .tns-controls {
    left: 0;
    outline: none;
    right: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 3; }
    .home .media-mobile .tns-controls button {
      outline: none;
      opacity: 0.5;
      -webkit-transition: opacity 300ms ease-out;
      transition: opacity 300ms ease-out; }
      .home .media-mobile .tns-controls button:last-child {
        float: right; }
      .home .media-mobile .tns-controls button:hover, .home .media-mobile .tns-controls button:focus {
        opacity: 1; }
  .home .media-mobile .tns-ovh.tns-outer {
    position: relative; }

.home .civil a {
  display: inline-block;
  margin: 0 18px; }

.home .civil h2 {
  font-size: 14px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  margin-top: 74px;
  margin-bottom: 0; }

.home .civil h3 {
  font-size: 28px;
  font-weight: 300;
  line-height: 40px;
  margin: 10px 0; }

.home .civil img {
  margin-top: -25px;
  margin-bottom: -125px; }

.home .civil p {
  font-size: 19px;
  line-height: 32px;
  margin-bottom: 25px; }

.home .civil .civil-matthew {
  border-top: solid 1px #d8d8d8;
  border-bottom: solid 1px #d8d8d8; }

.home .civil .civil-quote {
  margin-left: 25px;
  padding-left: 25px;
  border-left: 7px solid #30e8bd; }
  .home .civil .civil-quote p {
    font-family: "Spectral", Serif;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #7d7373;
    margin-bottom: 15px; }
  .home .civil .civil-quote .civil-title {
    font-family: "Libre Franklin", Sans-Serif;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 0.9px; }
  .home .civil .civil-quote .civil-title—vivian {
    margin-bottom: 30px; }

.home .civil .civil-council {
  width: 170px; }

.home .civil .civil-constitution {
  width: 255px; }

.home .civil .img_mobile {
  display: none; }

.home .get-started {
  background-color: #eef2ff;
  padding: 80px 0;
  margin-bottom: 80px; }
  .home .get-started h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px; }
  .home .get-started__inner {
    margin-bottom: 0; }
    .home .get-started__inner .timeline {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .home .get-started__inner .timeline p {
        font-size: 16px;
        line-height: 19px;
        margin-right: 25px; }
      .home .get-started__inner .timeline .circle-filled,
      .home .get-started__inner .timeline .circle-outlined {
        border-top: 4px solid #5a5653;
        padding: 15px 0;
        width: 18%;
        position: relative; }
      .home .get-started__inner .timeline .circle-filled::after {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        background-color: #5a5653;
        border-radius: 50%;
        top: -11px;
        z-index: 1; }
      .home .get-started__inner .timeline .circle-outlined::after {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        background-color: #eef2ff;
        border: 3px solid #5a5653;
        border-radius: 50%;
        top: -11px;
        z-index: 1; }
      .home .get-started__inner .timeline .triangle-outlined {
        border-top: 4px solid #eef2ff;
        padding: 15px 0;
        position: relative;
        width: 14%; }
        .home .get-started__inner .timeline .triangle-outlined p {
          margin-left: -7px;
          margin-right: 0; }
      .home .get-started__inner .timeline .triangle-outlined::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 12px solid #eef2ff;
        margin-left: -4px;
        top: -6px;
        z-index: 2; }
      .home .get-started__inner .timeline .triangle-outlined::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 22px solid #5a5653;
        margin-left: -9px;
        top: -13px;
        z-index: 1; }
      .home .get-started__inner .timeline .timeline-bold {
        font-weight: 700; }
      .home .get-started__inner .timeline .timeline-italic {
        font-style: italic; }
    .home .get-started__inner .timeline-links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .home .get-started__inner .timeline-links p {
        margin: 10px 50px 0 0; }

.home .purchase-tiers h2 {
  font-size: 14px;
  font-weight: 800;
  line-height: 14px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  margin-bottom: 10px; }

.home .purchase-tiers .purchase-tiers-intro {
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 50px; }

.home .purchase-tiers__inner {
  font-size: 28px;
  line-height: 40px;
  margin-top: 15px; }
  .home .purchase-tiers__inner .tier .tier-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #b2f5e6;
    padding: 10px;
    height: 200px;
    text-align: center; }
    .home .purchase-tiers__inner .tier .tier-title h3 {
      font-size: 24px;
      font-weight: 700;
      line-height: 28px; }
    .home .purchase-tiers__inner .tier .tier-title p {
      font-size: 18px;
      line-height: 19px;
      margin-bottom: 13px; }
    .home .purchase-tiers__inner .tier .tier-title .price-from {
      font-size: 48px;
      font-weight: 300;
      letter-spacing: -1px; }
      .home .purchase-tiers__inner .tier .tier-title .price-from span {
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        vertical-align: super; }
    .home .purchase-tiers__inner .tier .tier-title .price-to {
      font-size: 18px;
      font-weight: 700;
      line-height: 28px;
      margin: 0; }
  .home .purchase-tiers__inner .tier .tier-benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 368px;
    background-color: #dbfbf3;
    padding: 20px; }
    .home .purchase-tiers__inner .tier .tier-benefits button {
      margin: 0 auto;
      width: 100%; }
    .home .purchase-tiers__inner .tier .tier-benefits h3 {
      font-size: 16px;
      font-weight: 700;
      line-height: 16px; }
    .home .purchase-tiers__inner .tier .tier-benefits ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      .home .purchase-tiers__inner .tier .tier-benefits ul li {
        font-size: 16px; }
  .home .purchase-tiers__inner .tier .tier-disc {
    font-size: 16px;
    margin: 15px 25px; }

.home .purchase-tiers .consumer {
  border-top: solid 1px #d8d8d8;
  font-size: 19px;
  line-height: 32px; }
  .home .purchase-tiers .consumer p {
    margin-top: 30px; }

.home .help {
  border-top: solid 1px #d8d8d8; }
  .home .help__inner {
    margin-top: 80px; }
    .home .help__inner h2 {
      font-size: 14px;
      font-weight: 800;
      line-height: 14px;
      letter-spacing: 0.9px;
      text-transform: uppercase;
      margin-bottom: 10px; }
    .home .help__inner h3 {
      font-size: 28px;
      line-height: 40px;
      margin-bottom: 25px; }
    .home .help__inner p {
      font-size: 19px;
      line-height: 32px; }
    .home .help__inner .help-image {
      text-align: center; }

.home .newsletter-signup-btm .newsletter-form {
  margin: 0 auto;
  width: 500px; }

.home .newsletter-signup-btm .telegram {
  color: #5a5653;
  font-family: "Libre Franklin", Sans-Serif;
  font-size: 14px; }
  .home .newsletter-signup-btm .telegram img {
    margin-left: 10px; }

/**
 * About page
 * ---
 * civil.co/about
 */
.about .main-title {
  background-image: url("/wp-content/themes/join-civil/src/img/pages/header-about-2x.png"); }
  .about .main-title header {
    height: 360px; }
  .about .main-title h1 {
    padding-bottom: 80px; }

.about .banner {
  margin-bottom: 87px; }
  .about .banner h2 {
    font-weight: 600;
    padding-top: 14px;
    margin-bottom: 18px; }
  .about .banner p {
    font-weight: 300;
    margin-bottom: 33px; }
  .about .banner h2,
  .about .banner p {
    font-size: 28px;
    line-height: 34px; }

.about .mission {
  /* pulled from joincivil v1 */ }
  .about .mission h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px; }
  .about .mission p {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px; }
  .about .mission .btn-blue {
    width: 200px; }
  .about .mission .video-wrapper {
    background-color: #000;
    color: #fff;
    position: relative;
    text-align: center; }
    .about .mission .video-wrapper img {
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
      top: 0; }
    .about .mission .video-wrapper .youtube {
      background-color: #000;
      cursor: pointer;
      margin-bottom: 30px;
      overflow: hidden;
      position: relative; }
      .about .mission .video-wrapper .youtube iframe {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%; }
      .about .mission .video-wrapper .youtube img {
        left: 0;
        opacity: 0.7;
        top: 0;
        width: 100%; }
    .about .mission .video-wrapper .play-icon {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      bottom: 0;
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      left: 0;
      margin: 0 0 20px 0;
      position: absolute;
      right: 0;
      top: 0;
      -webkit-transition: all 500ms ease-out;
      transition: all 500ms ease-out;
      z-index: 2; }
      .about .mission .video-wrapper .play-icon:hover .play-button, .about .mission .video-wrapper .play-icon:focus .play-button {
        opacity: 0; }
        .about .mission .video-wrapper .play-icon:hover .play-button__hover, .about .mission .video-wrapper .play-icon:focus .play-button__hover {
          opacity: 1; }
      .about .mission .video-wrapper .play-icon img,
      .about .mission .video-wrapper .play-icon svg {
        margin: 20px; }
      .about .mission .video-wrapper .play-icon .play-button {
        border: 2px solid #fff;
        border-radius: 50%;
        height: 100px;
        left: 50%;
        position: absolute;
        padding: 1px 0 0 10px;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        -webkit-transition: all 500ms ease-out;
        transition: all 500ms ease-out;
        width: 100px; }
        .about .mission .video-wrapper .play-icon .play-button__hover {
          opacity: 0; }
        .about .mission .video-wrapper .play-icon .play-button svg {
          height: 52px;
          width: 33px; }
      .about .mission .video-wrapper .play-icon .play-text {
        display: block;
        font-family: "Libre Franklin", Sans-Serif;
        font-size: 28px;
        font-weight: 800;
        margin: 180px 0 0 0;
        text-align: center;
        width: 100%; }

.about .civil-ecosystem__org img {
  margin-bottom: 10px;
  width: 79px; }

.about .civil-ecosystem__org h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px; }

.about .civil-ecosystem__org p {
  font-size: 14px;
  line-height: 22px; }

.about .partners {
  margin-bottom: 120px; }
  .about .partners__row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 70px; }
    .about .partners__row a {
      padding: 0 40px;
      text-align: center;
      width: 33%; }
    .about .partners__row img {
      margin: 0 auto;
      width: 100%; }
  .about .partners__primary img {
    max-width: 300px; }
  .about .partners__secondary img {
    max-width: 150px; }
  .about .partners__secondary a {
    max-width: 25%; }

/**
 * Constitution page
 * ---
 * civil.co/constitution
 */
.constitution .main-title h1 {
  padding: 0 0 0 50px; }

.constitution__text {
  counter-reset: constitution-sections; }
  .constitution__text .constitution__intro {
    margin: 0 0 100px;
    padding: 0 0 0 50px; }
    .constitution__text .constitution__intro p {
      font-size: 19px;
      margin-bottom: 24px; }
  .constitution__text .constitution__section {
    counter-increment: constitution-sections;
    margin: 0 0 50px;
    padding: 0 0 0 50px;
    position: relative; }
    .constitution__text .constitution__section:before {
      color: #000;
      content: counter(constitution-sections, upper-roman) ".";
      font-size: 28px;
      font-weight: 200;
      left: 0;
      line-height: 36px;
      position: absolute;
      top: 1px; }
    .constitution__text .constitution__section p {
      font-family: "Spectral", Serif;
      font-size: 21px;
      letter-spacing: -0.3px; }
  .constitution__text h2 {
    color: #000;
    font-family: "Libre Franklin", Sans-Serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    margin: 0 0 10px; }
  .constitution__text h3 {
    font-family: "Libre Franklin", Sans-Serif;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 28px; }
  .constitution__text h4 {
    font-family: "Libre Franklin", Sans-Serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    margin: 0; }
  .constitution__text p {
    line-height: 32px; }
  .constitution__text a {
    color: #3f3c39;
    text-decoration: underline; }
    .constitution__text a:hover {
      color: #2b56ff; }
  .constitution__text li {
    font-family: "Spectral", Serif;
    font-size: 21px;
    letter-spacing: -0.3px;
    line-height: 32px; }
    .constitution__text li ol,
    .constitution__text li ul {
      margin-top: 20px; }
  .constitution__text figure {
    margin: 0 -100px 20px;
    padding: 0;
    width: calc(100% + 200px); }
  .constitution__text .inline-img {
    width: 100%; }

.constitution .key-terms h3 {
  font-family: "Spectral", Serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 0; }

/**
 * Contact page
 * ---
 * civil.co/contact
 */
.contact .main-title {
  background-image: url("/wp-content/themes/join-civil/src/img/pages/header-contact-2x.png"); }

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contact__info ul {
    margin: 0;
    padding: 0;
    width: 49%; }
  .contact__info li {
    list-style: none; }
  .contact__info span {
    display: block; }

/**
 * CVL Token launch
 * ---
 * civil.co/cvl
 */
.cvl .btn-blue {
  margin: 0 auto; }

.cvl .main-title {
  margin-bottom: 0; }
  .cvl .main-title h1 {
    font-size: 55px;
    letter-spacing: -1.15px;
    line-height: 60px; }
    .cvl .main-title h1 .h1-sans-serif {
      font-family: "Libre Franklin", Sans-Serif;
      font-weight: 700;
      letter-spacing: -1.1px; }

.cvl h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 20px; }

.cvl p {
  font-size: 19px;
  line-height: 32px; }

.cvl .token-launch {
  background-color: #121212;
  margin: 0 auto 80px;
  padding: 80px 80px 200px;
  text-align: center; }
  .cvl .token-launch__inner {
    margin: 0 auto;
    max-width: 675px; }
  .cvl .token-launch p {
    color: #fff;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 40px; }
    .cvl .token-launch p a {
      color: #fff;
      text-decoration: underline; }
      .cvl .token-launch p a:hover {
        color: #7d7373; }
  .cvl .token-launch span {
    color: #fff;
    display: block;
    font-family: "Libre Franklin", Sans-Serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.45;
    margin: 0 auto;
    max-width: 470px; }
  .cvl .token-launch .ml-form-embedContainer {
    margin: 0 auto;
    max-width: 500px; }
  .cvl .token-launch .btn-blue {
    font-size: 14px;
    width: 350px; }
  .cvl .token-launch .ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent h4,
  .cvl .token-launch .ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent h4 {
    color: #fff;
    margin: 20px 0 0px 0; }
  .cvl .token-launch .ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent p,
  .cvl .token-launch .ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent p {
    color: #fff; }

.cvl .cvl-emphasis {
  border-bottom: solid 6px #30e8bd;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 2.29;
  text-transform: uppercase; }

.cvl .intro {
  background-color: #fff;
  margin: -220px auto 80px;
  max-width: 765px;
  padding: 65px 65px 0; }

.cvl .use-cases h2 {
  border-bottom: 1px solid #e9e9ea;
  color: #000;
  margin: 50px 0 45px;
  padding-bottom: 45px; }

.cvl .use-cases .use-case {
  border-bottom: 1px solid #e9e9ea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  padding-bottom: 65px;
  position: relative; }
  .cvl .use-cases .use-case.last {
    margin-bottom: 90px; }
  .cvl .use-cases .use-case .coin-icon {
    height: 54px;
    left: 0;
    position: absolute;
    top: 0; }
  .cvl .use-cases .use-case__inner {
    margin: 0 0 0 90px;
    position: relative; }
  .cvl .use-cases .use-case h3 {
    color: #000;
    font-size: 24px;
    font-size: 400;
    line-height: 28px;
    margin-bottom: 20px; }
  .cvl .use-cases .use-case p {
    font-family: "Spectral", Serif;
    font-size: 21px;
    letter-spacing: -0.3px;
    line-height: 32px; }

.cvl .token-purchase {
  background-color: #121212;
  margin: 0 auto 80px;
  max-width: 980px;
  padding: 80px 80px 90px;
  text-align: center; }
  .cvl .token-purchase__inner {
    margin: 0 auto;
    max-width: 525px; }
  .cvl .token-purchase h3 {
    color: #fff;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 30px; }
  .cvl .token-purchase .btn-blue {
    font-size: 14px;
    height: 54px;
    padding: 20px 15px;
    width: 260px; }

.cvl .newsletter-signup-cvl {
  margin: 0 auto 120px;
  max-width: 500px;
  text-align: left; }
  .cvl .newsletter-signup-cvl__inner {
    margin: 0 auto;
    text-align: center; }
  .cvl .newsletter-signup-cvl h3 {
    font-family: "Libre Franklin", Sans-Serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 5px; }
  .cvl .newsletter-signup-cvl p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px; }
  .cvl .newsletter-signup-cvl .mc-wrap {
    margin: 0 auto;
    max-width: 450px; }
  .cvl .newsletter-signup-cvl .line-break-teal {
    margin: 0 auto 35px; }

/**
 * Help page
 * ---
 * civil.co/help
 */
.help .purchase-cvl .purchase-cvl-button,
.help .purchase-cvl .purchase-cvl-type {
  display: inline-block; }

.help .purchase-cvl .purchase-cvl-type {
  margin-left: 5px;
  font-size: 12px;
  text-transform: uppercase;
  color: #7d7373; }

.help .faq__nav {
  width: 255px; }
  .help .faq__nav ul {
    margin: 0;
    padding: 10px 0 0;
    position: relative; }
  .help .faq__nav li {
    list-style: none;
    margin: 0;
    padding: 10px 0; }
  .help .faq__nav a {
    color: #7d7373;
    font-size: 15px;
    line-height: 19px; }
    .help .faq__nav a:hover {
      color: #2b56ff; }

.help .faq__intro {
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 30px;
  padding-bottom: 20px; }

.help .faq__category h3 {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 30px; }

.help .faq__item h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 10px; }

/**
 * How to Launch a Newsroom page
 * ---
 * civil.co/how-to-launch-newsroom
 */
.how-to-launch-newsroom .how-to-apply__step {
  margin: 0 0 30px;
  max-width: 445px; }
  .how-to-launch-newsroom .how-to-apply__step img {
    margin: 0 0 10px;
    width: 74px; }
  .how-to-launch-newsroom .how-to-apply__step h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px; }

.how-to-launch-newsroom .challenge-process img {
  border: 1px solid #e9e9ea; }

/* --- Newsrooms ---*/
.newsrooms {
  text-align: center; }
  .newsrooms .main-title {
    background-image: url("/wp-content/themes/join-civil/src/img/homepage/background-one.jpg"); }
    .newsrooms .main-title header {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 280px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .newsrooms .main-title h1 {
      max-width: 450px;
      text-align: center; }
  .newsrooms__inner {
    font-family: "Libre Franklin", Sans-Serif;
    text-align: center; }
  .newsrooms .newsrooms-intro h2 {
    border-bottom: 1px solid #d8d8d8;
    font-family: "Spectral", Serif;
    font-size: 36px;
    font-weight: 200;
    line-height: 1.08;
    margin: 0 auto 80px;
    max-width: 800px;
    padding: 30px 40px 50px;
    text-align: center; }
  .newsrooms .link-view {
    color: #2b56ff;
    display: block;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 auto 50px;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px; }
  .newsrooms__type {
    border-bottom: 1px solid #d8d8d8;
    padding: 0 0 50px;
    margin: 0 auto 90px; }
    .newsrooms__type.last {
      border-bottom: none;
      padding: 0;
      margin: 0 auto 20px; }
  .newsrooms h3 {
    font-family: "Libre Franklin", Sans-Serif;
    font-size: 28px;
    font-weight: 300;
    line-height: 38px;
    margin-bottom: 50px; }
  .newsrooms__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .newsrooms .newsroom {
    font-family: "Libre Franklin", Sans-Serif;
    margin: 0 2.666% 50px;
    width: 28%; }
    .newsrooms .newsroom__img {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      min-height: 150px;
      margin-bottom: 10px; }
      .newsrooms .newsroom__img img {
        max-width: 150px;
        width: 100%; }
    .newsrooms .newsroom__img-wide img {
      max-width: 200px; }
    .newsrooms .newsroom h4 {
      color: #000;
      font-size: 18px;
      font-weight: 700; }
    .newsrooms .newsroom p {
      color: #5a5653;
      font-size: 14px;
      line-height: 20px; }
  .newsrooms .join-civil {
    margin: 0 auto; }

/**
 * Press kit
 * ---
 * civil.co/press-kit
 */
.press .info {
  margin-bottom: 150px; }
  .press .info h2 {
    font-size: 28px;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 25px; }
  .press .info p {
    font-size: 19px;
    line-height: 32px; }
  .press .info .press-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px; }
  .press .info .press-image {
    width: 100%;
    max-width: 162px;
    margin: 4px 28px 12px 0; }
  .press .info .press-info h3 {
    display: inline-block;
    font-size: 19px;
    font-weight: 700; }
  .press .info .press-info p {
    font-family: "Spectral", Serif;
    font-size: 21px;
    color: #7d7373;
    line-height: 32px;
    margin-top: 12px;
    margin-bottom: 0; }
  .press .info .press-info .press-date {
    font-family: "Libre Franklin", Sans-Serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .9px;
    margin-top: 0;
    margin-bottom: 5px; }
  .press .info .press-info .press-info-link {
    font-family: "Libre Franklin", Sans-Serif;
    font-size: 19px;
    line-height: 24px; }
  .press .info .media-resources .media-title {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .9px;
    line-height: 14px; }
  .press .info .media-resources .assets p {
    margin-bottom: 10px;
    font-size: 14px; }
  .press .info .media-resources .assets .assets-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 30px;
    margin-bottom: 8px; }
  .press .info .media-resources .assets .btn-blue {
    width: 200px; }

/* --- Purchase Tiers Email Form---*/
.purchase-email {
  background: #fff;
  padding: 60px;
  max-width: 825px;
  margin: 40px auto;
  position: relative; }
  .purchase-email fieldset {
    margin: 0;
    padding: 0; }
  .purchase-email h3 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0; }
  .purchase-email p {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #7d7373; }
  .purchase-email #drip-email {
    width: 100%;
    font-family: "Libre Franklin", Sans-Serif;
    font-size: 14px;
    line-height: 20px;
    margin-top: 25px;
    padding: 14px 25px; }
  .purchase-email .purchase-email-text {
    font-family: "Libre Franklin", Sans-Serif;
    font-size: 19px;
    font-weight: 300;
    line-height: 32px;
    margin: 25px 0; }
  .purchase-email .purchase-email-submit {
    float: right;
    margin-top: 33px; }

/**
 * Our team page
 * Civil Council Members
 * ---
 * civil.co/our-team
 * civil.co/civil-foundation
 */
.team .member {
  font-family: "Libre Franklin", Sans-Serif;
  margin: 0 3% 60px 0; }
  .team .member:nth-of-type(3n) {
    margin: 0 0 60px; }
  .team .member__role {
    color: #5a5653;
    display: block;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.75px;
    margin: 0 0 6px;
    text-transform: uppercase; }
  .team .member__name {
    font-size: 18px;
    font-weight: 800;
    margin: 0 0 8px; }
  .team .member p {
    color: #3f3c39;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 10px; }
  .team .member__links {
    font-family: "Libre Franklin", Sans-Serif;
    font-size: 14px;
    line-height: 20px; }
    .team .member__links b {
      margin-right: 3px; }
    .team .member__links a {
      color: #2b56ff; }
      .team .member__links a:hover {
        text-decoration: underline; }

/**
 * Generic Text Pages
 * ---
 * civil.co/terms
 * civil.co/privacy
 * These can get more specific if you add the idividual page's selector
 */
.generic-text {
  font-family: "Libre Franklin", Sans-Serif;
  margin-bottom: 100px; }
  .generic-text pre {
    color: #3f3c39;
    font-family: "Libre Franklin", Sans-Serif;
    font-size: 12px;
    margin-bottom: 8px; }
  .generic-text h2 {
    color: #000;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 30px; }
  .generic-text h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    margin: 35px 0 20px; }
  .generic-text .address {
    color: #3f3c39;
    display: block;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px; }
  .generic-text a {
    color: #3f3c39;
    text-decoration: underline; }
    .generic-text a:hover {
      color: #2b56ff; }

/**
 * White Paper
 * ---
 * civil.co/white-paper
 */
.white-paper__text section {
  margin: 0 0 50px; }

.white-paper__text h2 {
  color: #000;
  font-family: "Libre Franklin", Sans-Serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 10px; }

.white-paper__text h3 {
  font-size: 19px;
  font-family: "Libre Franklin", Sans-Serif;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 8px; }
  .white-paper__text h3 a {
    color: #000;
    text-decoration: underline; }
    .white-paper__text h3 a:hover {
      color: #2b56ff; }

.white-paper__text h4 {
  font-family: "Spectral", Serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
  margin: 0 0 8px; }
  .white-paper__text h4 span {
    display: block; }
  .white-paper__text h4 a {
    color: #000;
    text-decoration: underline; }
    .white-paper__text h4 a:hover {
      color: #2b56ff; }

.white-paper__text p {
  font-family: "Spectral", Serif;
  font-size: 21px;
  letter-spacing: -0.3px;
  line-height: 32px;
  margin-bottom: 24px; }
  .white-paper__text p a {
    color: #3f3c39;
    text-decoration: underline; }
    .white-paper__text p a:hover {
      color: #2b56ff; }

.white-paper__text .abstract p {
  color: #5a5653;
  font-family: "Libre Franklin", Sans-Serif;
  font-size: 19px;
  letter-spacing: 0;
  line-height: 32px; }

.white-paper__text li {
  font-family: "Spectral", Serif;
  font-size: 21px;
  letter-spacing: -0.3px;
  line-height: 32px;
  margin: 0 0 20px; }
  .white-paper__text li a {
    color: #3f3c39;
    text-decoration: underline; }
    .white-paper__text li a:hover {
      color: #2b56ff; }
  .white-paper__text li ol,
  .white-paper__text li ul {
    margin-top: 20px; }

.white-paper__text figure {
  margin: 0 -100px 20px;
  padding: 0;
  width: calc(100% + 200px); }

.white-paper__text .inline-img {
  border: 1px solid #e9e9ea;
  width: 100%; }

.white-paper__text .member {
  margin: 0 0 40px; }
  .white-paper__text .member:first-of-type {
    margin: 20px 0 40px; }

.white-paper__text .partner {
  margin: 0 0 40px; }
  .white-paper__text .partner img {
    margin: 0 0 20px;
    max-width: 160px; }

/**
 * Thank You
 * ---
 *
 */
.thank-you__wrapper {
  font-family: "Libre Franklin", Sans-Serif;
  margin: 180px auto 80px;
  max-width: 900px;
  width: 100%; }

.thank-you__title {
  margin-bottom: 40px;
  max-width: 780px; }
  .thank-you__title h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px; }
  .thank-you__title p {
    color: #5a5653;
    font-size: 19px;
    line-height: 1.68; }

.thank-you__contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.thank-you__box {
  background-color: rgba(196, 194, 192, 0.25);
  padding: 35px 75px 35px 30px;
  width: 48.5%; }
  .thank-you__box h2 {
    font-size: 19px;
    font-weight: 700;
    line-height: 1.68;
    margin-bottom: 20px; }
  .thank-you__box p {
    color: #000;
    font-size: 16px;
    line-height: 1.68; }

/**
 * 404 Error Page
 * ---
 *
 */
.error404 h1 {
  font-family: "Spectral", Serif;
  font-size: 48px;
  line-height: 52px;
  font-weight: 200;
  margin: 150px auto;
  max-width: 700px;
  padding: 0 15px; }
  .error404 h1 a {
    color: #2b56ff;
    font-weight: 600; }
  .error404 h1 span {
    display: block;
    font-family: "Libre Franklin", Sans-Serif;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1.2px;
    line-height: 1;
    margin-bottom: 10px;
    text-transform: uppercase; }

/**
 * Mobile Styles
 * ---
 * - site grids
 * - reusable components
 * - flex layouts
 * - page specific
 */
@media only screen and (max-width: 800px) {
  body {
    margin: 0; }
  /**
	 * Mobile Specific Grid Styles
	 * ---
	 */
  .grid-col-sm,
  .grid-col-md,
  .grid-col-lg {
    margin: 0 auto 50px;
    padding: 0 15px; }
  /* Two column page template (left rail with header, wider right col) */
  .grid-col-2 {
    display: block;
    /* column 1 is header */
    /* column 2 is content */ }
    .grid-col-2.grid-divider {
      padding-bottom: 50px; }
    .grid-col-2__1 {
      margin-bottom: 6px;
      width: 100%; }
      .grid-col-2__1 h2,
      .grid-col-2__1 h3 {
        font-size: 24px;
        line-height: 38px; }
    .grid-col-2__2 {
      width: 100%; }
  /* Flex grids */
  .flex-grid-3,
  .flex-grid-4 {
    display: block; }
    .flex-grid-3 .grid-module,
    .flex-grid-4 .grid-module {
      margin: 0 0 50px;
      width: 100%; }
  /**
	 * Mobile Specific Styles For Reusable Modules
	 * ---
	 */
  /* Short line above title text */
  .title-line {
    margin: 0 0 15px; }
  /* Header title */
  .main-title {
    margin: 0 0 40px; }
    .main-title header {
      min-height: 130px;
      padding: 0 24px; }
    .main-title h1 {
      font-size: 32px;
      letter-spacing: -0.7px;
      line-height: 36px;
      margin: 0;
      padding: 0 0 24px; }
      .main-title h1 .h1-sans-serif {
        font-size: 28px; }
  .title-style-white header {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 130px; }
  /* Blue Bar Banner */
  .blue-bar-wrapper {
    height: 69px; }
  .blue-bar {
    font-size: 16px;
    font-weight: 600;
    height: 69px;
    line-height: 21px;
    padding: 10px 30px;
    position: inherit;
    top: 54px; }
    .blue-bar.is--sticky {
      position: fixed;
      top: 0; }
  /* Join Civil */
  .join-civil {
    margin: 0 auto 80px;
    padding: 90px 0; }
    .join-civil h2 {
      font-size: 30px;
      line-height: 34px;
      margin: 0 auto 15px;
      max-width: 300px; }
    .join-civil p {
      font-size: 20px;
      line-height: 30px;
      margin: 0 auto 15px;
      max-width: 300px; }
    .join-civil span {
      margin: 0 auto 25px;
      max-width: 300px; }
    .join-civil .btn-blue {
      max-width: 350px;
      width: 100%; }
  /* Bottom newsletter signup */
  .newsletter-signup-btm {
    padding: 70px 0;
    text-align: left; }
    .newsletter-signup-btm__inner {
      display: block;
      margin: 0 auto; }
    .newsletter-signup-btm__inner-left {
      margin-bottom: 20px;
      width: 100%; }
    .newsletter-signup-btm__inner-right {
      width: 100%; }
    .newsletter-signup-btm h4 {
      margin: 0 0 20px; }
  /* MailChimp embed */
  .mc-email-input {
    width: 100%; }
  /**
	 * Mobile Specific Styles For Index
	 * ---
	 */
  .home .main-title header {
    margin-top: 0; }
  .home .learn h2 {
    font-size: 27px;
    line-height: 36px;
    letter-spacing: -0.6px;
    margin-bottom: 0; }
  .home .learn .btn-grey {
    width: 100%;
    margin-right: 0;
    margin-top: 50px; }
  .home .learn .btn-blue {
    width: 100%;
    margin-top: 27px; }
  .home .learn .learn-sale {
    margin-left: 0;
    margin-top: 15px;
    width: 282px; }
  .home .meet__inner a {
    display: inline-block;
    margin: 0; }
  .home .meet__inner h3 {
    font-size: 20px;
    line-height: 32px; }
  .home .meet__inner p {
    font-size: 16px;
    line-height: 26px;
    width: 80%; }
  .home .meet__inner .meet-ctas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .home .meet__inner .meet-ctas a {
      width: 100%; }
    .home .meet__inner .meet-ctas .meet-btn-newsrooms {
      margin-top: 27px;
      width: 100%; }
    .home .meet__inner .meet-ctas .meet-btn-journalists {
      margin-top: 27px;
      width: 100%; }
  .home .media {
    display: none; }
  .home .media-mobile {
    display: block;
    /* pulled from joincivil v1 */ }
    .home .media-mobile ul {
      padding: 0; }
    .home .media-mobile__inner {
      margin: 0 -15px; }
    .home .media-mobile .others-slider li {
      margin-bottom: 0; }
    .home .media-mobile .section__title-wrapper {
      margin-bottom: 20px; }
    .home .media-mobile .tns-item {
      vertical-align: middle !important; }
      .home .media-mobile .tns-item q {
        font-size: 23px;
        line-height: 26px;
        width: 80%; }
  .home .civil a {
    display: block; }
  .home .civil h3 {
    font-size: 20px;
    line-height: 32px;
    margin: 20px 0; }
  .home .civil img {
    margin: 0;
    max-width: 170px; }
  .home .civil p {
    font-size: 16px;
    line-height: 26px; }
  .home .civil .civil-quote {
    margin: 0;
    border: 0;
    border-top: 7px solid #30e8bd; }
    .home .civil .civil-quote p {
      margin-top: 25px;
      font-size: 19px;
      line-height: 28px; }
    .home .civil .civil-quote .civil-title {
      margin-top: 0; }
  .home .civil .civil-council {
    width: 100%;
    margin: auto;
    margin-top: 27px; }
  .home .civil .civil-constitution {
    width: 100%;
    margin: auto;
    margin-top: 27px; }
  .home .civil .img_desktop {
    display: none; }
  .home .civil .img_mobile {
    display: block;
    margin-left: 25px;
    margin-bottom: -25px; }
  .home .get-started__inner {
    margin-bottom: 0; }
    .home .get-started__inner .timeline {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-left: 70px; }
      .home .get-started__inner .timeline p {
        margin-bottom: 50px; }
      .home .get-started__inner .timeline .circle-filled,
      .home .get-started__inner .timeline .circle-outlined {
        border: 0;
        border-left: 4px solid #5a5653;
        padding: 0 25px;
        width: 80%; }
      .home .get-started__inner .timeline .circle-filled::after,
      .home .get-started__inner .timeline .circle-outlined::after {
        top: 0;
        left: -11px; }
      .home .get-started__inner .timeline .triangle-outlined {
        border: 0;
        border-left: 4px solid #eef2ff;
        padding: 0 25px;
        width: 80%; }
        .home .get-started__inner .timeline .triangle-outlined p {
          margin-left: 0; }
      .home .get-started__inner .timeline .triangle-outlined::before,
      .home .get-started__inner .timeline .triangle-outlined::after {
        left: -4px; }
    .home .get-started__inner .get-started-timeline {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: 68px; }
      .home .get-started__inner .get-started-timeline .timeline {
        background-image: url("/wp-content/themes/join-civil/src/img/homepage/timeline_vertical.svg");
        height: 700px;
        width: 50px;
        background-size: 100% 100%; }
      .home .get-started__inner .get-started-timeline .timeline-steps {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-left: 20px; }
        .home .get-started__inner .get-started-timeline .timeline-steps p {
          margin-right: 0;
          margin-bottom: 32px;
          width: 50%; }
        .home .get-started__inner .get-started-timeline .timeline-steps p:last-child {
          margin-bottom: 0; }
    .home .get-started__inner .timeline-links {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .home .get-started__inner .timeline-links p {
        margin-right: 0;
        margin-top: 25px; }
  .home .purchase-tiers .purchase-tiers-intro {
    font-size: 20px;
    line-height: 32px; }
  .home .purchase-tiers__inner .tier .tier-disc {
    font-size: 16px;
    margin: 15px 0; }
  .home .purchase-tiers .consumer p {
    margin-top: 50px;
    margin-bottom: 0; }
  .home .help__inner h3 {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 10px; }
  .home .help__inner p {
    font-size: 16px;
    line-height: 26px; }
  .home .newsletter-signup-btm .newsletter-form {
    width: 100%; }
  /**
	 * Mobile Specific Styles For About
	 * ---
	 */
  .about .main-title {
    background-image: url("/wp-content/themes/join-civil/src/img/pages/header-about.png"); }
    .about .main-title header {
      height: 270px; }
    .about .main-title h1 {
      padding-bottom: 50px; }
  .about .banner {
    margin-bottom: 62px; }
    .about .banner p {
      margin-bottom: 28px; }
    .about .banner h2,
    .about .banner p {
      line-height: 38px; }
  .about .mission {
    margin-bottom: 40px;
    padding-bottom: 70px;
    /* pulled from joincivil v1 */ }
    .about .mission h2 {
      font-size: 20px;
      line-height: 32px;
      font-weight: 600; }
    .about .mission p {
      font-size: 16px;
      line-height: 26px;
      font-weight: 400; }
      .about .mission p:first-of-type {
        font-size: 20px;
        line-height: 32px;
        font-weight: 300; }
    .about .mission .video-wrapper .play-icon img,
    .about .mission .video-wrapper .play-icon svg {
      margin: 0; }
    .about .mission .video-wrapper .play-icon .play-button {
      border: 1px solid #fff;
      height: 32px;
      position: absolute;
      padding: 6px 0 0 4px;
      width: 32px; }
      .about .mission .video-wrapper .play-icon .play-button__hover {
        opacity: 0; }
      .about .mission .video-wrapper .play-icon .play-button svg {
        height: 17px;
        width: 11px; }
    .about .mission .video-wrapper .play-icon .play-text {
      font-size: 15px;
      margin: 70px 0 0 0; }
  .about .civil-ecosystem {
    margin-bottom: 50px;
    padding-bottom: 40px; }
    .about .civil-ecosystem .grid-col-2 {
      margin-bottom: 40px; }
    .about .civil-ecosystem .grid-flex-4 {
      display: block; }
    .about .civil-ecosystem__org {
      margin-bottom: 40px;
      width: 100%; }
      .about .civil-ecosystem__org img {
        margin-bottom: 10px;
        width: 61px; }
  .about .partners {
    margin-bottom: 80px; }
    .about .partners__row {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-bottom: 50px; }
      .about .partners__row a {
        padding: 0 15px;
        width: 48%; }
    .about .partners__primary img {
      max-width: 300px; }
    .about .partners__primary a {
      width: 100%; }
    .about .partners__secondary img {
      max-width: 150px; }
    .about .partners__secondary a {
      margin: 0 0 30px;
      max-width: 48%; }
  /**
	 * Mobile Specific Styles For Constitution
	 * ---
	 */
  .constitution .main-title h1 {
    padding: 0 0 24px; }
  .constitution__text .constitution__intro {
    margin: 0 0 70px;
    padding: 0; }
    .constitution__text .constitution__intro p {
      font-size: 16px;
      line-height: 26px; }
  .constitution__text .constitution__section {
    padding: 0; }
    .constitution__text .constitution__section:last-of-type {
      margin-bottom: 100px; }
    .constitution__text .constitution__section:before {
      font-size: 22px;
      line-height: 32px;
      position: relative; }
    .constitution__text .constitution__section p {
      font-size: 19px;
      line-height: 28px; }
  .constitution__text li {
    font-size: 19px;
    line-height: 28px; }
  .constitution__text h2 {
    font-size: 24px;
    line-height: 32px; }
  .constitution__text h3 {
    font-size: 16px;
    line-height: 28px; }
  .constitution__text h4 {
    font-size: 19px;
    line-height: 28px; }
  .constitution__text figure {
    margin: 0 0 20px;
    width: 100%; }
  /**
	 * Mobile Specific Styles For Contact
	 * ---
	 */
  .contact .main-title {
    background-image: url("/wp-content/themes/join-civil/src/img/pages/header-contact.png"); }
    .contact .main-title header {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 270px; }
    .contact .main-title h1 {
      padding-bottom: 0; }
  .contact__info {
    display: block; }
    .contact__info ul {
      width: 100%; }
  /**
	 * Mobile Specific Styles For CVL Token launch
	 * ---
	 */
  .cvl {
    margin-top: 0; }
    .cvl .header-mobile {
      position: fixed; }
      .cvl .header-mobile.is--sticky {
        top: 0; }
    .cvl .main-title header {
      height: 170px; }
    .cvl .main-title h1 {
      font-size: 32px;
      line-height: 36px; }
    .cvl .token-launch {
      margin: 0 auto 40px;
      padding: 70px 15px; }
      .cvl .token-launch p {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 30px; }
      .cvl .token-launch span {
        margin-bottom: 25px; }
      .cvl .token-launch .btn-blue {
        font-size: 12px;
        width: 100%;
        max-width: 350px; }
    .cvl .intro {
      margin: 0 auto 80px;
      padding: 0 15px; }
    .cvl .use-cases h2 {
      font-size: 24px;
      line-height: 32px;
      margin: 50px 0 30px; }
    .cvl .use-cases .use-case {
      margin-bottom: 30px;
      padding-bottom: 45px;
      position: relative; }
      .cvl .use-cases .use-case .coin-icon {
        height: 36px; }
      .cvl .use-cases .use-case__inner {
        margin: 0 0 0 50px; }
      .cvl .use-cases .use-case h3 {
        font-size: 20px;
        line-height: 26px; }
      .cvl .use-cases .use-case p {
        font-size: 19px;
        line-height: 28px; }
    .cvl .token-purchase {
      margin: 0 15px 60px;
      padding: 50px 35px 60px; }
      .cvl .token-purchase h3 {
        font-size: 18px;
        line-height: 28px; }
      .cvl .token-purchase .btn-blue {
        font-size: 12px;
        width: 278px; }
    .cvl .newsletter-signup-cvl {
      margin: 0 auto 100px; }
      .cvl .newsletter-signup-cvl .line-break-teal {
        margin: 0 auto 40px; }
      .cvl .newsletter-signup-cvl h3 {
        font-size: 18px;
        line-height: 28px; }
      .cvl .newsletter-signup-cvl p {
        font-size: 14px;
        line-height: 22px; }
  /**
	 * Mobile Specific Styles For Help
	 * ---
	 */
  .help .faq nav {
    display: none; }
  /**
	 * Mobile Specific Styles For Newsrooms
	 * ---
	 */
  .newsrooms .main-title header {
    height: 270px; }
  .newsrooms .main-title h1 {
    max-width: 300px;
    padding-bottom: 0; }
  .newsrooms .newsrooms-intro h2 {
    font-size: 24px;
    line-height: 32px;
    padding: 10px 40px 50px; }
  .newsrooms__type {
    margin: 0 0 70px;
    padding: 0 20px 30px;
    width: 100%; }
    .newsrooms__type.last {
      margin: 0 auto 20px;
      padding: 0 20px; }
    .newsrooms__type__inner {
      font-family: "Libre Franklin", Sans-Serif;
      max-width: 845px;
      text-align: center; }
    .newsrooms__type h2 {
      font-size: 30px;
      line-height: 34px;
      margin: 0 auto 20px; }
    .newsrooms__type__nav {
      margin: 0 -15px 50px; }
      .newsrooms__type__nav button {
        font-size: 12px;
        padding: 10px 0; }
    .newsrooms__type h3 {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 40px; }
    .newsrooms__type .newsrooms__wrapper {
      display: block; }
    .newsrooms__type .newsroom {
      margin: 0 0 60px;
      width: 100%; }
      .newsrooms__type .newsroom__img {
        min-height: auto; }
      .newsrooms__type .newsroom__img-wide {
        margin-bottom: 30px; }
      .newsrooms__type .newsroom h4 {
        margin: 15px 0 10px; }
      .newsrooms__type .newsroom p {
        margin: 10px 0 15px; }
  /**
	 * Mobile Specific Styles For Press-Kit
	 * ---
	 */
  .press-kit .info h2 {
    font-size: 24px; }
  .press-kit .info p {
    font-size: 16px;
    line-height: 26px; }
  .press-kit .info .press-select {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .press-kit .info .press-info h3 {
    display: block;
    font-size: 16px; }
  .press-kit .info .press-info p {
    font-size: 19px;
    line-height: 28px; }
  .press-kit .info .press-info .press-date {
    font-size: 12px; }
  .press-kit .info .press-info .press-info-link {
    font-family: "Libre Franklin", Sans-Serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px; }
  /* --- Mobile Styles for Purchase Tiers Email Form---*/
  .purchase-email {
    margin: 54px -6px 0 -6px; }
    .purchase-email h3 {
      font-size: 20px;
      line-height: 32px; }
    .purchase-email p {
      font-size: 14px;
      margin-bottom: 0; }
    .purchase-email .purchase-email-text {
      font-size: 16px;
      line-height: 26px; }
  /**
	 * Mobile Specific Styles For Our Team
	 * ---
	 */
  .our-team .about-us {
    margin-bottom: 50px; }
  .our-team .team {
    display: block; }
    .our-team .team .member {
      margin: 0 0 60px 0; }
  /**
	 * Mobile Specific Styles For Civil Foundation
	 * ---
	 */
  .civil-foundation .about-us {
    margin-bottom: 50px; }
  .civil-foundation .team {
    display: block; }
    .civil-foundation .team .member {
      margin: 0 0 60px 0; }
  /**
	 * Mobile Specific Styles For White Paper
	 * ---
	 */
  .white-paper__text h2 {
    font-size: 24px;
    line-height: 32px; }
  .white-paper__text h3 {
    font-size: 18px;
    line-height: 28px; }
  .white-paper__text h4 {
    font-size: 19px;
    line-height: 28px; }
  .white-paper__text p {
    font-size: 19px;
    line-height: 28px; }
  .white-paper__text .abstract p {
    font-size: 16px;
    line-height: 26px; }
  .white-paper__text li {
    font-size: 19px;
    line-height: 28px; }
  .white-paper__text figure {
    margin: 0 0 20px;
    width: 100%; }
  /**
	 * Mobile Specific Styles For 404
	 * ---
	 */
  .error404 h1 {
    font-size: 32px;
    line-height: 36px;
    margin: 50px auto; }
  /**
	 * Thank You
	 * ---
	 *
	 */
  .thank-you__wrapper {
    margin: 30px 15px 50px;
    width: calc(100% - 30px); }
  .thank-you__title {
    margin-bottom: 40px; }
    .thank-you__title h1 {
      font-size: 20px;
      line-height: 1.6; }
    .thank-you__title p {
      font-size: 16px;
      line-height: 1.63; }
  .thank-you__contain {
    display: block; }
  .thank-you__box {
    margin-bottom: 30px;
    padding: 30px 23px;
    width: 100%; }
    .thank-you__box h2 {
      font-size: 19px;
      line-height: 1.68; } }

/**
 * Extra Small Mobile
 * ---
 */
@media only screen and (max-width: 360px) {
  /* MailChimp embed */
  .mc-wrap .btn-blue {
    font-size: 11px;
    padding: 15px 10px;
    width: 125px; }
  /* HP newsrooms nav */
  .home .newsrooms__nav button {
    font-size: 12px;
    padding: 12px 0; } }

/**
 * partials/print
 * ---
 * Print version
 * (from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css)
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

.tns-outer{padding:0 !important}.tns-outer [hidden]{display:none !important}.tns-outer [aria-controls],.tns-outer [data-action]{cursor:pointer}.tns-slider{-webkit-transition:all 0s;transition:all 0s}.tns-slider>.tns-item{-webkit-box-sizing:border-box;box-sizing:border-box}.tns-horizontal.tns-subpixel{white-space:nowrap}.tns-horizontal.tns-subpixel>.tns-item{display:inline-block;vertical-align:top;white-space:normal}.tns-horizontal.tns-no-subpixel:after{content:'';display:table;clear:both}.tns-horizontal.tns-no-subpixel>.tns-item{float:left;margin-right:-100%}.tns-no-calc{position:relative;left:0}.tns-gallery{position:relative;left:0;min-height:1px}.tns-gallery>.tns-item{position:absolute;left:-100%;-webkit-transition:transform 0s, opacity 0s;-webkit-transition:opacity 0s, -webkit-transform 0s;transition:opacity 0s, -webkit-transform 0s;transition:transform 0s, opacity 0s;transition:transform 0s, opacity 0s, -webkit-transform 0s}.tns-gallery>.tns-slide-active{position:relative;left:unset !important}.tns-gallery>.tns-moving{-webkit-transition:all 0.25s;transition:all 0.25s}.tns-lazy-img{-webkit-transition:opacity 0.6s;transition:opacity 0.6s;opacity:0.6}.tns-lazy-img.loaded{opacity:1}.tns-ah{-webkit-transition:height 0s;transition:height 0s}.tns-ovh{overflow:hidden}.tns-visually-hidden{position:absolute;left:-10000em}.tns-transparent{opacity:0;visibility:hidden}.tns-fadeIn{opacity:1;filter:alpha(opacity=100);z-index:0}.tns-normal,.tns-fadeOut{opacity:0;filter:alpha(opacity=0);z-index:-1}.tns-t-subp2{margin:0 auto;width:310px;position:relative;height:10px;overflow:hidden}.tns-t-ct{width:2333.3333333%;width:calc(100% * 70 / 3);position:absolute;right:0}.tns-t-ct:after{content:'';display:table;clear:both}.tns-t-ct>div{width:1.4285714%;width:calc(100% / 70);height:10px;float:left}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
          box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
